<template>
  <div class="container-fluid mt-4 container-fluid mt-4 d-flex align-items-center" style="height: 97vh">

    <template v-if="!fight.id" style="width: 100%">
      <h4 class="text-center mt-3" style="width: 100%;font-size: 6rem;">No available fight.</h4>
    </template>

    <template v-else>
      <div class="row" style="width: 100%;margin: 0 !important;">
        <div class="col-12">
          <card
            class="no-border-card"
            body-classes="px-0"
            footer-classes="pb-2"
            
          >
            <template slot="header">
              <div class="row">
                <div :class="(fight.status == 'finish' || fight.status == 'open' || fight.status == 'on-going') ? 'col-8' : 'col-12'">
                  <!--<h1 class="mb-0" style="font-size: 4vw;">{{ fight.tournament.title }} - <span class="text-blue">Fight #{{ fight.fight_number }}</span></h1>-->
                  <h1 class="mb-0" style="font-size: 5vw;"><span class="text-blue">Fight #{{ fight.fight_number }}</span></h1>

                  <span class="badge badge-pill badge-warning mt-2 status-label" v-if="fight.status == 'pending'">{{ fight.status }}</span>

                  <span class="badge badge-pill badge-success mt-2 status-label" v-if="fight.status == 'open'">{{ fight.status }}</span>

                  <span class="badge badge-pill badge-info mt-2 status-label" id="pulse" v-if="fight.status == 'on-going'">on-going fight</span>

                  <span class="badge badge-pill badge-danger mt-2 status-label" v-if="fight.status == 'close'">{{ fight.status }}</span>

                  <span class="badge badge-pill badge-success mt-2 status-label" v-if="fight.status == 'finish'">{{ fight.status }}</span>

                  <span class="badge badge-pill badge-dark mt-2 status-label" style="color: #fff !important;" v-if="fight.status == 'cancelled'">{{ fight.status }}</span>

                </div>
                <div class="col-4 text-right" v-if="fight.status == 'finish'">
                  <div>
                    <small v-if="fight.winner == 'meron'" class="winner-label">Winner: <span id="pulse" class="text-danger" style="font-weight: 700; font-size: 5vw;;">INILOG</span></small>

                    <small v-if="fight.winner == 'wala'" class="winner-label">Winner: <span id="pulse" class="text-primary" style="font-weight: 700; font-size: 5vw;;">BIYA</span></small>

                    <small v-if="fight.winner == 'draw'" class="winner-label">Winner: <span id="pulse" class="text-dark" style="font-weight: 700; ffont-size: 5vw;;">DRAW</span></small>
                  </div>
                </div>
                <div class="col-4 text-right" v-if="fight.status == 'open'">
                  <span v-if="fight.status == 'open'" :id="(timer_warning) ? 'pulse' : ''" :class="(timer_warning) ? 'text-danger mr-2' : 'text-orange mr-2'" style="font-size: 7vw; font-weight: 700">
                    <vue-countdown :time="time" v-slot="{ days, hours, minutes, seconds, milliseconds }"
                      v-if="counting"
                      @progress="checkProgress"
                      @end="onCountdownEnd"
                    >
                      {{ (hours) ? hours + ':' : '' }}{{ minutes }}:{{ seconds }}
                    </vue-countdown>
                  </span>
                </div>

                <div class="col-4 text-right" v-if="fight.status == 'on-going' && fight.time_to_finish_fight">
                  <span :id="(timer_warning) ? 'pulse' : ''" :class="(timer_warning) ? 'text-danger mr-2' : 'text-orange mr-2'" style="font-size: 7vw; font-weight: 700">
                    <vue-countdown :time="time_to_finish" :interval="100" v-slot="{ days, hours, minutes, seconds, milliseconds }"
                      @progress="checkProgress"
                    >
                      {{ (hours) ? hours + ':' : '' }}{{ minutes }}:{{ seconds }}:{{ Math.floor(milliseconds / 100) }}
                    </vue-countdown>
                  </span>
                </div>
              </div>
            </template>

            <div>
              <div class="py-3">
                <div class="row align-items-center">

                  <div class="col-12">
                    <div class="row align-items-center">
                      <div class="col-6 text-center">
                        <span class="text-danger h1 side-label" style="font-weight: bold;">Inilog</span>
                        
                      </div>
                      <div class="col-6 text-center">
                        <span class="text-primary h1 side-label" style="font-weight: bold;">Biya</span>
                      </div>
                    </div>

                    <div class="row mt-3">
                      <div class="col-6 text-center">
                        <h3 class="text-md text-danger h1" style="line-height: 1;"> 
                          <span class="side-total-label">{{ toMoney(fight.meron_total) }}</span> <br/> 
                          <span class="side-total-percent-label" style="color: #333;font-weight: 600;">{{ calculatePercent('meron') }}%</span>
                          <!--<span class="text-sm text-dark h1" style="font-weight: 700">Total</span>-->
                        </h3>
                      </div>
                      <div class="col-6 text-center">
                        <h3 class="text-md text-primary h1" style="line-height: 1;"> 
                          <span class="side-total-label">{{ toMoney(fight.wala_total) }}</span> <br/>
                          <span class="side-total-percent-label" style="color: #333;font-weight: 600;">{{ calculatePercent('wala') }}%</span>
                          <!--<span class="text-sm text-dark h1" style="font-weight: 700">Total</span>-->
                        </h3>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            
          </card>
        </div>
      </div>
      
    </template>

    </div>
  </div>
</template>
<script>
import { BasePagination } from "@/components/argon-core";
import { Modal, BaseAlert } from "@/components/argon-core";
import {
  Table,
  TableColumn,
  DropdownMenu,
  DropdownItem,
  Dropdown,
  Tooltip,
  Select,
  Option,
  RadioButton,
  Button,
} from "element-ui";
import swal from "sweetalert2";
import "sweetalert2/dist/sweetalert2.css";
import { cloneDeep } from "lodash"
import VueCountdown from '@chenfengyuan/vue-countdown';
import moment from 'moment';

export default {
  layout: "DisplayLayout",
  middleware: "admin",

  components: {
    BasePagination,
    [Tooltip.name]: Tooltip,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    [Dropdown.name]: Dropdown,
    [DropdownItem.name]: DropdownItem,
    [DropdownMenu.name]: DropdownMenu,
    [Select.name]: Select,
    [Option.name]: Option,
    [Button.name]: Button,
    VueCountdown
  },

  data() {
    return {
      time: 0,
      time_to_finish: 0,
      counting: false,
      tournament: {
        type: "tournaments",
        title: null,
        start_date: null,
        description: null,
      },
      fight: {
        id: 0,
        tournament: {
          title: ''
        },
        winner: ''
      },
      modals: {
        form: false,
      },
      formModal: {
        amount: "",
        error: '',
        remember: false,
      },
      bet_side_select: "",
      user: {
        credit: 0
      },
      my_bets: {
        wala: '',
        meron: ''
      },
      timer_warning: false
    };
  },

  async fetch() {
    try {
      await this.getFight();
    } catch (error) {
      this.$notify({
        type: "danger",
        message: `Oops, something went wrong!`,
      });
      this.setApiValidation(error.response.data.errors);
    }
  },

  async created() {
    await this.$store.dispatch("profile/me");
    this.user.credit = await cloneDeep(this.$store.getters["profile/credit"]);
    this.$store.watch(
      () => this.$store.getters["profile/credit"],
      (credit) => {
        this.user.credit = credit
      }
    );
  },

  destroyed() {
    this.$echo.leave('fight-' +this.fight.id);
  },

  methods: {
    async openConnection(fight = null) {
      let nuxtjs = this
      let new_id = (fight === 'new') ? 0 : this.fight.id
      this.$echo.channel('fight-' + new_id)
      .listen('FightUpdated', async (e) => {
          if (!this.fight.id || !new_id) {
            this.$echo.leave('fight-0');
            await this.getFight()
          } else {
            let fight = e.fight
            nuxtjs.fight= fight

            if (fight.status === 'open') {
              this.setTimer()
            }

            if (fight.time_to_finish_fight) {
              this.setFightTimer()
            }

            if (fight.status === 'finish' || fight.status === 'cancelled') {
              this.$echo.leave('fight-' + this.fight.id);
              this.openConnection('new')
            }
             
          }
          
          
      });
    },

    goBack() {
      this.$router.push('/matches');
    },

    async getFight() {
      try {
        const id = this.fight.id;
        await this.$store.dispatch("fights/getCurrentFight");
        let fight = await cloneDeep(this.$store.getters["fights/fight"]);

        if(fight) {
          this.fight = fight

          if (this.fight.status === 'open') {
            this.setTimer()
          }

          if (this.fight.status === 'on-going') {
            this.setFightTimer()
          }
        }

        this.openConnection()

      } catch (error) {
        error({
          statusCode: 404,
          message: 'Page could not be found',
        })
      }
    },

    toMoney(number = 0) {
      return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },


    setTimer() {
      let time_to_close = moment(this.fight.time_to_close).format('YYYY-MM-DD HH:mm:ss')
      let now_time = moment().format('YYYY-MM-DD HH:mm:ss')

      time_to_close = moment(time_to_close)
      now_time = moment(now_time)

      let minutes_diff = time_to_close.diff(now_time, 'milliseconds');
      this.time = (minutes_diff <= 0 ) ? 0 : Math.abs(minutes_diff)
      this.counting = true
    },

    setFightTimer() {
      let time_to_finish_fight = moment(this.fight.time_to_finish_fight).format('YYYY-MM-DD HH:mm:ss')
      let now_time = moment().format('YYYY-MM-DD HH:mm:ss')

      time_to_finish_fight = moment(time_to_finish_fight)
      now_time = moment(now_time)

      let minutes_diff = time_to_finish_fight.diff(now_time, 'milliseconds');
      this.time_to_finish = (minutes_diff <= 0 ) ? 0 : Math.abs(minutes_diff)
      this.counting = true
    },

    async onCountdownEnd() {
      //if (!this.fight.disable_timer_autoclose) {
      //  this.timer_warning = false
      //  this.fight.status = 'close'
      //  await this.$store.dispatch("fights/updateStatus", this.fight);
     // }
    },

    calculatePercent(side) {
      let orig_side_total = (side === 'wala') ? this.fight.wala_total : this.fight.meron_total
      let oppose_total = (side === 'wala') ? this.fight.meron_total : this.fight.wala_total

      if (!orig_side_total)
        return 0;
      
      if (!oppose_total)
        return 100;

      let tong_percentage = +this.fight.tournament.tong_percentage / 100

      let cut_side_total = +orig_side_total * tong_percentage
      let side_total = +orig_side_total - cut_side_total

      let oppose_side_total = +oppose_total * tong_percentage
      oppose_total = oppose_total - oppose_side_total

      let all_total = +side_total + +oppose_total

      let percentage = (+all_total / +orig_side_total) * 100

      return Math.round(percentage * 100) / 100
    },

    checkProgress(data) {
      if (data.minutes == 0 && data.minutes <= 1 && data.seconds <= 15)
        this.timer_warning = true
      else 
        this.timer_warning = false
      
    }
  },
};
</script>
<style>
  .side-label {
    font-size: 6vw;
  }

  .side-total-label {
    font-size: 8vw;
  }

  .side-total-percent-label {
    font-size: 5.5vw;
    display: block;
    margin-top: 2vh;
  }

  .status-label {
    font-size: 2.5vw;
    display: inline-block;
    margin-top: 2vh !important;
  }

  .winner-label {
    font-size: 3vw;
  }

</style>
