<template>
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-xl-12 order-xl-1">
        <card>
          <div slot="header" class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Edit Fight</h3>
            </div>
            <div class="col-4 text-right">
              <base-button
                @click="goBack"
                type="button"
                class="btn btn-sm btn-primary"
                >Back to list</base-button
              >
            </div>
          </div>
          <div>
            <form ref="category_form" @submit.prevent="handleSubmit">
              <div class="row">
                <div class="col-md-6">
                  <base-input
                    label="Inilog Name"
                    v-model="fight.meron_name"
                  />
                  <validation-error :errors="apiValidationErrors.meron_name" />
                </div>
                <div class="col-md-6">
                  <base-input
                    label="Biya Name"
                    v-model="fight.wala_name"
                  />
                  <validation-error :errors="apiValidationErrors.wala_name" />
                </div>
                
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label"> Inilog Picture </label>
                    <div v-if="meron_image" class="profile-image card-img pb-4">
                      <img
                        :src="`${fight.meron_picture}`"
                        class="profile-image argon-image"
                      />
                    </div>
                    <div v-else class="profile-image">
                      <img src="/img/placeholder.jpg" class="argon-image" />
                    </div>
                    <div class="image-upload">
                      <base-button
                        v-if="meron_image"
                        type="button"
                        class="btn btn-sm btn-danger"
                        @click="removeImage('meron')"
                      >
                        <span>
                          <i class="fa fa-times" />
                          Remove
                        </span>
                      </base-button>
                      <base-button type="button" class="btn btn-sm btn-primary">
                        <label v-if="!meron_image" for="imageInputMeron" class="mb-0"
                          >Select image</label
                        >
                        <label v-else for="imageInputMeron" class="mb-0">Change</label>
                        <input
                          id="imageInputMeron"
                          ref="imageInputMeron"
                          accept="image/*"
                          type="file"
                          style="display: none"
                          @change="onSelectFile($event, 'meron')"
                        />
                      </base-button>
                    </div>
                  </div>
                  <validation-error :errors="apiValidationErrors.meron_picture" />
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label"> Biya Picture </label>
                    <div v-if="wala_image" class="profile-image card-img pb-4">
                      <img
                        :src="`${fight.wala_picture}`"
                        class="profile-image argon-image"
                      />
                    </div>
                    <div v-else class="profile-image">
                      <img src="/img/placeholder.jpg" class="argon-image" />
                    </div>
                    <div class="image-upload">
                      <base-button
                        v-if="wala_image"
                        type="button"
                        class="btn btn-sm btn-danger"
                        @click="removeImage('wala')"
                      >
                        <span>
                          <i class="fa fa-times" />
                          Remove
                        </span>
                      </base-button>
                      <base-button type="button" class="btn btn-sm btn-primary">
                        <label v-if="!wala_image" for="imageInput" class="mb-0"
                          >Select image</label
                        >
                        <label v-else for="imageInput" class="mb-0">Change</label>
                        <input
                          id="imageInput"
                          ref="imageInput"
                          accept="image/*"
                          type="file"
                          style="display: none"
                          @change="onSelectFile($event, 'wala')"
                        />
                      </base-button>
                    </div>
                  </div>
                  <validation-error :errors="apiValidationErrors.wala_picture" />
                </div>
                
              </div>

              <div class="row mt-3">
                <div class="col-md-6">
                  <base-input
                    label="Fight Number"
                    v-model="fight.fight_number"
                  />
                  <validation-error :errors="apiValidationErrors.meron_name" />
                </div>
              </div>

              <div class="my-4">
                <base-button
                  type="button"
                  class="btn btn-md btn-primary"
                  native-type="submit"
                >
                  Submit
                </base-button>
              </div>
            </form>
          </div>
        </card>
      </div>
    </div>
  </div>
</template>
<script>
import formMixin from "@/mixins/form-mixin";
import "flatpickr/dist/flatpickr.css";
import ValidationError from "~/components/ValidationError.vue";
import flatPicker from "vue-flatpickr-component";
import { cloneDeep } from "lodash";
export default {
  layout: "DashboardLayout",
  middleware: "admin",

  mixins: [formMixin],

  components: {
    ValidationError,
    flatPicker
  },

  data() {
    return {
      wala_image: null,
      meron_image: null,
      fight: {
        type: "fights",
        wala_name: null,
        meron_name: null,
        wala_picture: null,
        meron_picture: null
      },
    };
  },

  async fetch() {
    try {
      const id = this.$route.params.id;
      await this.$store.dispatch("fights/get", id);
      this.fight = await cloneDeep(this.$store.getters["fights/fight"]);
      // this.wala_image = this.fight.wala_picture
      // this.meron_image = this.fight.meron_picture
    } catch (error) {
      this.$notify({
        type: "danger",
        message: `Oops, something went wrong!`,
      });
      this.setApiValidation(error.response.data.errors);
    }
  },

  methods: {
    goBack() {
       this.$router.push({
        name: "tournaments-fights-id",
        params: { id: this.fight.tournament_id },
      });
    },

    async handleSubmit() {
      try {

        if (this.wala_image) {
          await this.$store.dispatch("fights/upload", {
            image: this.wala_image,
            axios: this.$axios,
            side: 'wala'
          });
          this.fight.wala_picture = await this.$store.getters["fights/wala_url"];
        }

        if (this.meron_image) {
          await this.$store.dispatch("fights/upload", {
            image: this.meron_image,
            axios: this.$axios,
            side: 'meron'
          });
          this.fight.meron_picture = await this.$store.getters["fights/meron_url"];
        }

        await this.$store.dispatch("fights/update", this.fight);

        this.$notify({
          type: "success",
          message: "Fight updated successfully.",
        });

        let fight = await await cloneDeep(this.$store.getters["fights/fight"])

        this.$router.push({
          name: "tournaments-fights-manage-id",
          params: { id: fight.id },
        });
      } catch (error) {
        this.$notify({
          type: "danger",
          message: "Oops, something went wrong!",
        });
        this.setApiValidation(error.response.data.errors);
      }
    },

    removeImage(side) {
      if (side == "wala") {
        this.wala_image = null;
      } else {
        this.meron_image = null;
      }
      
    },

    async onSelectFile(e, side) {
      let files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      this.createImage(files[0], side);
    },

    createImage(file, side) {
      let reader = new FileReader();

      if (side == "wala") {
        reader.onload = (e) => {
          this.fight.wala_picture = e.target.result;
          this.wala_image = file;
        };
      } else {
        reader.onload = (e) => {
          this.fight.meron_picture = e.target.result;
          this.meron_image = file;
        };
      }

      reader.readAsDataURL(file);
    },
  },
};
</script>
