<template>
  <div class="container-fluid mt-4">
    <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h3 d-inline-block mb-0">Betting History</h6>
        </div>
      </div>
    <div>
    <template>
      <template v-for="betting in bettings">
        <card
          class="no-border-card"
          body-classes="px-0 py-3"
          footer-classes="pb-2"
        >
          <div>
            <div class="col-12">
              <div class="row justify-content-md-center">
                <div class="col-12">
                  <div class="row align-center">
                    <div class="col-6">
                      <p class="mb-0 text-dark" style="font-size: 14px;">{{ betting.fight.tournament.title }} - fight #{{ betting.fight.fight_number }}</p>
                    </div>
                    <div class="col-6 text-right" v-if="betting.fight.status === 'finish'">
                      <div>
                        <small v-if="betting.fight.winner == 'meron'">Winner: <span class="text-danger" style="font-weight: 700;">INILOG</span></small>

                        <small v-if="betting.fight.winner == 'wala'">Winner: <span class="text-primary" style="font-weight: 700;">BIYA</span></small>

                        <small v-if="betting.fight.winner == 'draw'">Winner: <span class="text-dark" style="font-weight: 700;">DRAW</span></small>
                      </div>
                    </div>
                  </div>
                  <hr class="mt-2 mb-2">
                  <div class="row align-items-center">
                    <div class="col-12">
                      <small class="text-danger">{{ betting.fight.meron_name }}</small> <img src="/img/vs.png" class="mr-2 ml-2" style="width: 20px;">  <small class="text-primary">{{ betting.fight.wala_name }}</small>
                    </div>
                  </div>

                  <div class="row mt-2">
                    <div class="col-12">
                      <small>You bet on <span :class="(betting.ring_side == 'meron') ? 'text-danger' : 'text-primary'" style="font-weight: 700;text-transform:capitalize;">{{ (betting.ring_side == 'meron') ? 'inilog' : 'biya' }}</span> at <span class="text-purple">
                        {{ (betting.fight.winner === 'draw' || betting.fight.status === 'cancelled') ? betting.payout : toMoney(betting.amount) }}
                      </span></small>
                    </div>
                  </div>
                  <hr class="mt-2 mb-2">
                  <div class="row">
                    <div class="col-6">
                      <div>
                        <small>Payout Status: <span class="text-indigo" style="font-weight: 700">{{ (!betting.payout_status && betting.fight.status === 'finish') ? 'lose' : betting.payout_status }}</span></small>
                      </div>
                    </div>
                    <div class="col-6 text-right">
                      <div>
                        <small>Payout: <span class="text-blue" style="font-weight: 700">{{ (betting.payout) ? toMoney(betting.payout) : 0 }}</span></small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </card>
      </template>

      <div class="row">
        <div class="col-md-6">
          <div class="">
            <p class="card-category">
              Showing {{ total ? from + 1 : 0 }} to {{ to }} of
              {{ total }} entries

              <span v-if="selectedRows.length">
                &nbsp; &nbsp; {{ selectedRows.length }} rows selected
              </span>
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <base-pagination
            class="pagination-no-border"
            v-model="pagination.currentPage"
            :per-page="pagination.perPage"
            :total="total"
          />
        </div>
      </div>
    </template>

    <template v-if="!bettings.length">
      <h4 class="text-center mt-3">No bettings history.</h4>
    </template>

    </div>
  </div>
</template>
<script>
import { BasePagination } from "@/components/argon-core";
import {
  Table,
  TableColumn,
  DropdownMenu,
  DropdownItem,
  Dropdown,
  Tooltip,
  Select,
  Option,
  RadioButton,
  Button,
} from "element-ui";
import swal from "sweetalert2";
import "sweetalert2/dist/sweetalert2.css";
import { cloneDeep } from "lodash"

export default {
  layout: "DashboardLayout",
  middleware: "member",

  components: {
    BasePagination,
    [Tooltip.name]: Tooltip,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    [Dropdown.name]: Dropdown,
    [DropdownItem.name]: DropdownItem,
    [DropdownMenu.name]: DropdownMenu,
    [Select.name]: Select,
    [Option.name]: Option,
    [Button.name]: Button,
  },

  data() {
    return {
      tournament: {},
      bettings: [],
      selectedRows: [],
      query: null,

      sort: "-created_at",

      pagination: {
        perPage: 50,
        currentPage: 1,
        perPageOptions: [5, 10, 25, 50],
      },

      total: 0,
      loading: true,
    };
  },

  computed: {
    from() {
      return this.pagination.perPage * (this.pagination.currentPage - 1);
    },

    to() {
      let highBound = this.from + this.pagination.perPage;
      if (this.total < highBound) {
        highBound = this.total;
      }
      return highBound;
    },
  },

  watch: {
    query: {
      handler: "getListDebounced",
      immediate: true,
    },
    pagination: {
      handler: "getList",
      immediate: false,
      deep: true,
    },
  },

  mounted() {
    this.openConnection()
  },

  destroyed() {
    this.$echo.leave('fights');
  },

  methods: {
    openConnection() {
      let nuxtjs = this
      this.$echo.channel('fights')
      .listen('BroadcastFights', () => {
          nuxtjs.getList()
      });
    },

    getListDebounced: _.debounce(function () {
      this.getList();
    }, 300),

    async getList() {
      let params = {
        ...(this.sort ? { sort: this.sort } : {}),
        filter: {
          ...({ user_id: this.$auth.user.id }),
          ...({ fight_status: ['finish', 'cancelled'] })
        },
        page: {
          number: this.pagination.currentPage,
          size: this.pagination.perPage,
        },
        include: 'fight,fight.tournament'
      };

      await this.$store.dispatch("bettings/list", params).then(() => {
        this.bettings = this.$store.getters["bettings/list"];
      });
      this.total = this.$store.getters["bettings/listTotal"];
      this.loading = false;
    },


    toMoney(number = 0) {
      return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
  },
};
</script>
