<template>
  <div class="container-fluid mt-5">
    <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 d-inline-block mb-0"> Manage Fight #{{ fight.fight_number }}</h6>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <base-button size="sm" type="neutral" @click="goBack">Back To Tournament</base-button>
        </div>
      </div>
    <div>
      <card
        class="no-border-card"
        body-classes="px-0"
        footer-classes="pb-2"
      >
        <template slot="header">
          <div class="row">
            <div class="col-6">
              <span class="badge badge-pill badge-warning mr-4" v-if="fight.status == 'pending'">{{ fight.status }}</span>

              <span class="badge badge-pill badge-success mr-4" v-if="fight.status == 'open'">{{ fight.status }}</span>

              <span class="badge badge-pill badge-info mr-4" v-if="fight.status == 'on-going'">{{ fight.status }}</span>

              <span class="badge badge-pill badge-danger mr-4" v-if="fight.status == 'close'">{{ fight.status }}</span>

              <span class="badge badge-pill badge-dark mr-4" v-if="fight.status == 'cancelled'">{{ fight.status }}</span>
            </div>
            <div class="col-6 text-right">
              <span v-if="fight.status == 'open'" class="mr-2 text-warning" style="font-size: 22px; font-weight: 700">
                <vue-countdown :time="time" v-slot="{ days, hours, minutes, seconds, milliseconds }"
                  v-if="counting"
                  @end="onCountdownEnd"
                >
                  {{ (hours) ? hours + ':' : '' }}{{ minutes }}:{{ seconds }}
                </vue-countdown>
              </span>
              <base-button type="success" class="mr-0" icon size="sm" v-if="fight.status == 'close'" @click="startFight()" :disabled="processing">
                <span class="btn-inner--icon"
                  ><i class="fas fa-edit"></i
                ></span>
                <span class="btn-inner--text">Start Fight</span>
              </base-button>
              
              <base-button type="danger" icon size="sm" v-if="fight.status == 'open'" @click="updateStatus('close')" :disabled="processing">
                <span class="btn-inner--icon"
                  ><i class="fas fa-edit"></i
                ></span>
                <span class="btn-inner--text">Close Betting</span>
              </base-button>
              <base-button type="danger" icon size="sm" class="mb-0" v-if="fight.status == 'close'" @click="cancelFight()" :disabled="processing">
                <span class="btn-inner--icon"
                  ><i class="fas fa-times"></i
                ></span>
                <span class="btn-inner--text">Cancel Fight</span>
              </base-button>
              <!--<base-button type="info" icon size="sm" class="mb-0" v-if="fight.status == 'close'" @click="updateStatus('open')" :disabled="processing">
                <span class="btn-inner--icon"
                  ><i class="fas fa-edit"></i
                ></span>
                <span class="btn-inner--text">Extend Betting Period</span>
              </base-button> -->
              <base-button type="info" class="ml-0 mb-0 mr-0" icon size="sm" v-if="fight.status == 'pending' || fight.status == 'close'" @click="updateStatus('open')" :disabled="processing">
                <span class="btn-inner--icon"
                  ><i class="fas fa-edit"></i
                ></span>
                <span class="btn-inner--text">Open For Betting</span>
              </base-button>
              <base-button type="info" icon size="sm" v-if="fight.status == 'on-going' && !fight.time_to_finish_fight" @click="startTimerToFinishFight()">
                <span class="btn-inner--icon"
                  ><i class="fas fa-clock"></i
                ></span>
                <span class="btn-inner--text">Start Fight Timer</span>
              </base-button>
              <base-button type="danger" icon size="sm" v-if="fight.status == 'on-going'" @click="modals.form = true">
                <span class="btn-inner--icon"
                  ><i class="fas fa-edit"></i
                ></span>
                <span class="btn-inner--text">Finish Match</span>
              </base-button>
              <div v-if="fight.status == 'finish'">
                <base-button type="warning" v-if="fight.status == 'finish'" icon size="sm" @click="undoFinishFight(fight.id)" class="mt-1 mr-4" :disabled="fight_undo_processing">
                  <span class="btn-inner--icon"
                    ><i class="fas fa-history"></i
                  ></span>
                  <span class="btn-inner--text">Undo Finish Fight</span>
                </base-button>
                <small class="mr-4" v-if="fight.winner == 'meron'">Winner: <span class="text-danger" style="font-weight: 700">Inilog</span></small>

                <small class="mr-4" v-if="fight.winner == 'wala'">Winner: <span class="text-primary" style="font-weight: 700">Biya</span></small>

                <small class="mr-4" v-if="fight.winner == 'draw'">Winner: <span class="text-dark" style="font-weight: 700">Draw</span></small>
                <small>Total Earnings: <span class="text-info">{{ fight.total_earnings }}</span></small>
              </div>
            </div>
          </div>
        </template>

        <div>
          <div class="col-12">
            <div class="row mb-3">
              <div class="col-md-12 text-right">
                <!--<base-checkbox v-model="disable_auto_close" class="h3 cb-comp">
                  Disable auto close on timer end.
                </base-checkbox>-->
                <base-button type="warning" class="mr-0 mb-2" icon size="sm" @click="autoCloseTimerUpdate(1)" v-if="!fight.disable_timer_autoclose" :disabled="disable_processing">
                  <span class="btn-inner--icon"
                    ><i class="fas fa-clock"></i
                  ></span>
                  <span class="btn-inner--text">Disable Auto Close Timer</span>
                </base-button>
                <base-button type="primary" class="mr-0 mb-2" icon size="sm" @click="autoCloseTimerUpdate(0)" v-if="fight.disable_timer_autoclose" :disabled="disable_processing">
                  <span class="btn-inner--icon"
                    ><i class="fas fa-clock"></i
                  ></span>
                  <span class="btn-inner--text">Enable Auto Close Timer</span>
                </base-button>
              </div>
            </div>
            <div class="row justify-content-md-center">
              <div class="col-3 text-center">
                <div v-if="fight.meron_picture" class="fight-image-container pbl" :style="'background-image:url('+ $baseUrl + fight.meron_picture +')'"></div>
                <img v-else :src="'/img/placeholder.jpg'" class="argon-image mb-2" style="max-width: 155px;">
              </div>
              <div class="col-6">
                <div class="row align-items-center">
                  <div class="col-5 text-right">{{ fight.meron_name }}</div>
                  <div class="col-2 text-center">
                    <img src="/img/vs.png" style="max-width: 55px;">
                  </div>
                  <div class="col-5">{{ fight.wala_name }}</div>
                </div>

                <div class="row mt-5">
                  <div class="col-4 text-left">
                    <h3 class="text-md text-danger"> 
                    {{ toMoney(fight.meron_total) }} <br/>
                    <span style="display:block; color: #333;font-size: 14px;font-weight: 600;">{{ calculatePercent('meron') }}%</span>
                    <span class="text-sm">Inilog</span>
                    </h3>
                  </div>
                  <div class="col-4 text-center">
                    <h3 class="text-md text-green"> {{ toMoney(fight.total_bettings) }} </h3>
                  </div>
                  <div class="col-4 text-right">
                    <h3 class="text-md text-primary"> 
                    {{ toMoney(fight.wala_total) }} <br/>
                    <span style="display:block; color: #333;font-size: 14px;font-weight: 600;">{{ calculatePercent('wala') }}%</span>
                    <span class="text-sm">Biya</span>
                    </h3>
                  </div>
                </div>
              </div>
              <div class="col-3 text-center">
                <div v-if="fight.wala_picture" class="fight-image-container pbl" :style="'background-image:url('+ $baseUrl + fight.wala_picture +')'"></div>
                <img v-else :src="'/img/placeholder.jpg'" class="argon-image mb-2" style="max-width: 155px;">
              </div>
            </div>
          </div>
        </div>

        <!--Form modal-->
        <modal :show.sync="modals.form" size="sm" body-classes="p-0">
          <card
            type="secondary"
            header-classes="bg-transparent pb-5"
            body-classes="px-lg-5 py-lg-5"
            class="border-0 mb-0"
          >
            <template slot="header">
              <div class="text-muted text-center mt-2 mb-3">
                <h2 class="text-danger">Warning!</h2>
              </div>
              <div class="btn-wrapper text-center">
                <span>This will stop the match. Winnings will be distributed to bettors.</span>
              </div>
            </template>

            <template>
              <div class="text-left text-muted mb-4">
                <span>Choose which side won.</span>
              </div>
              <form role="form">
                <div class="row">
                  <div class="col-3">
                    <base-radio
                      v-model="formModal.winner"
                      name="meron"
                      class="mb-3"
                    >
                      <span class="text-danger">Inilog</span>
                    </base-radio>
                  </div>
                  <div class="col-3">
                    <base-radio
                      v-model="formModal.winner"
                      name="wala"
                      class="mb-3"
                    >
                      <span class="text-primary">Biya</span>
                    </base-radio>
                  </div>
                  <div class="col-3">
                    <base-radio
                      v-model="formModal.winner"
                      name="draw"
                      class="mb-3"
                    >
                      <span class="text-dark">Draw</span>
                    </base-radio>
                  </div>
                </div>
                
                
                <base-checkbox v-model="formModal.remember" class="mt-3">
                  I confirm I choose the right winner.
                </base-checkbox>
                <div class="text-center">
                  <base-button 
                    :disabled="processing"
                    type="primary" class="my-4"
                    @click.prevent="finishMatch()"
                    >Submit</base-button
                  >
                </div>
              </form>
            </template>
          </card>
        </modal>
      </card>

      <!-- bettings table -->
      <card
        class="no-border-card"
        body-classes="px-0 pb-1"
        footer-classes="pb-2"
      >
        <template slot="header">
          <div class="row">
            <div class="col-6">
              <h3 class="mb-0">Bettings</h3>
            </div>
            <div class="col-6 text-right">
            </div>
          </div>
        </template>
        <div>
          <div
            class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
          >
            <el-select
              class="select-primary pagination-select"
              v-model="pagination.perPage"
              placeholder="Per page"
            >
              <el-option
                class="select-primary"
                v-for="item in pagination.perPageOptions"
                :key="item"
                :label="item"
                :value="item"
              >
              </el-option>
            </el-select>

            <div>
              <form>
                <base-input
                  v-model="query"
                  type="search"
                  prepend-icon="fas fa-search"
                  placeholder="Search..."
                  clearable
                />
              </form>
            </div>
          </div>
          <el-table
            class="table-responsive align-items-center table-flush"
            header-row-class-name="thead-light"
            :data="bettings"
            @sort-change="sortChange"
          >
            <div slot="empty" v-if="loading">
              <img src="/img/loading.gif" style="height: 100px; width: 100px" />
            </div>
            <el-table-column label="User">
              <template v-slot="{ row }">
                {{ row.user.name }}                
              </template>
            </el-table-column>
            <el-table-column label="Bet on">
              <template v-slot="{ row }">
                <span class="text-danger" v-if="(row.ring_side == 'meron')">Inilog</span>
                <span class="text-primary" v-else>Biya</span>
              </template>
            </el-table-column>
            <el-table-column
              label="Amount"
              prop="amount"
            />
            <el-table-column
              label="Payout"
              prop="payout"
            />
            <el-table-column label="Tong">
              <template v-slot="{ row }">
                <span :class="(row.tong !== '0') ? 'text-success' : 'text-danger'">{{row.tong}}</span>
              </template>
            </el-table-column>
            <el-table-column
              label="Payout Status"
              prop="payout_status"
            />
            <el-table-column
              label="Reference Number"
              prop="reference_number"
            />
            <el-table-column label="Claimed">
              <template v-slot="{ row }">
                <span v-if="(row.payout == '0')">N/A</span>
                <span v-else>{{ row.claimed ? 'Yes' : 'No' }} </span>
              </template>
            </el-table-column>
          </el-table>
        </div>
        <div
          slot="footer"
          class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
        >
          <div class="">
            <p class="card-Tournament">
              Showing {{ total ? from + 1 : 0 }} to {{ to }} of
              {{ total }} entries

              <span v-if="selectedRows.length">
                &nbsp; &nbsp; {{ selectedRows.length }} rows selected
              </span>
            </p>
          </div>
          <base-pagination
            class="pagination-no-border"
            v-model="pagination.currentPage"
            :per-page="pagination.perPage"
            :total="total"
          />
        </div>
      </card>
      <!-- end bettings table -->
    </div>
  </div>
</template>
<script>
import formMixin from "@/mixins/form-mixin";
import "flatpickr/dist/flatpickr.css";
import { Modal, BaseAlert } from "@/components/argon-core";
import ValidationError from "~/components/ValidationError.vue";
import flatPicker from "vue-flatpickr-component";
import { cloneDeep } from "lodash";
import swal from "sweetalert2";
import "sweetalert2/dist/sweetalert2.css";
import VueCountdown from '@chenfengyuan/vue-countdown';
import moment from 'moment';
import { BasePagination } from "@/components/argon-core";
import {
  Table,
  TableColumn,
  DropdownMenu,
  DropdownItem,
  Dropdown,
  Tooltip,
  Select,
  Option,
  RadioButton,
  Button,
} from "element-ui";

export default {
  layout: "DashboardLayout",
  middleware: "admin",

  mixins: [formMixin],

  components: {
    BasePagination,
    [Tooltip.name]: Tooltip,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    [Dropdown.name]: Dropdown,
    [DropdownItem.name]: DropdownItem,
    [DropdownMenu.name]: DropdownMenu,
    [Select.name]: Select,
    [Option.name]: Option,
    [Button.name]: Button,
    Modal,
    ValidationError,
    flatPicker,
    VueCountdown
  },

  data() {
    return {
      time: 0,
      counting: false,
      tournament: {
        type: "tournaments",
        title: null,
        start_date: null,
        description: null,
      },
      fight: {
        tournament: {
          title: ''
        },
        winner: '',
        status: ""
      },
      modals: {
        form: false,
      },
      formModal: {
        winner: "",
        remember: false,
      },
      original_status: "",
      finish_btn_disabled: false,
      processing: false,
      disable_auto_close: false,
      disable_processing: false,
      bettings: [],
      selectedRows: [],
      query: null,
      sort: "-created_at",
      pagination: {
        perPage: 10,
        currentPage: 1,
        perPageOptions: [5, 10, 25, 50],
      },
      total: 0,
      loading: true,
      fetching_bets: false,
      fight_undo_processing: false
    };
  },

  computed: {
    from() {
      return this.pagination.perPage * (this.pagination.currentPage - 1);
    },

    to() {
      let highBound = this.from + this.pagination.perPage;
      if (this.total < highBound) {
        highBound = this.total;
      }
      return highBound;
    },
  },

  async fetch() {
    try {
      await this.getFight();
    } catch (error) {
      this.processing = false
      this.$notify({
        type: "danger",
        message: `Oops, something went wrong!`,
      });
    }
  },

  watch: {
    query: {
      handler: "getListDebounced",
      immediate: true,
    },
    pagination: {
      handler: "getList",
      immediate: false,
      deep: true,
    },
  },

  mounted() {
    this.openConnection()
  },

  destroyed() {
    this.$echo.leave('fight-' + this.$route.params.id);
    this.$echo.leave('claim-bet-' + this.$route.params.id);
  },

  methods: {
    openConnection() {
      let nuxtjs = this
      this.$echo.channel('fight-' + this.$route.params.id)
      .listen('FightUpdated', (e) => {
          let fight = e.fight
          this.fight= fight
          if (fight.status === 'open') {
            this.setTimer()
          }

          this.getList()
      });

      this.$echo.channel('claim-bet-' + this.$route.params.id)
      .listen('ClaimBet', async (e) => {
          if(!this.fetching_bets) {
            this.getList()
          }
      });
    },

    getListDebounced: _.debounce(function () {
      this.getList();
    }, 500),

    async getList() {
      let params = {
        ...(this.sort ? { sort: this.sort } : {}),
        filter: {
          ...( this.query ? { reference_number: this.query } : {}),
          ...( this.query ? { user: this.query } : {}),
          ...{ fight_id: this.$route.params.id }
        },
        page: {
          number: this.pagination.currentPage,
          size: this.pagination.perPage,
        },
        include: 'user,fight'
      };

      this.fetching_bets = true;
      await this.$store.dispatch("bettings/list", params).then(() => {
        this.bettings = this.$store.getters["bettings/list"];
        this.total = this.$store.getters["bettings/listTotal"];
      });
      this.fetching_bets = false;
      this.loading = false;
    },

    sortChange({ prop, order }) {
      if (order === "descending") {
        this.sort = `-${prop}`;
      } else {
        this.sort = `${prop}`;
      }
      this.getList();
    },

    goBack() {
      this.$router.push('/tournaments/fights/' + this.fight.tournament_id);
    },

    async getFight() {
      const id = this.$route.params.id;
      await this.$store.dispatch("fights/get", id);
      this.fight = await cloneDeep(this.$store.getters["fights/fight"]);
      this.original_status = this.fight.status

      if (this.fight.status === 'open') {
        this.setTimer()
      }
    },

    async finishMatch() {
      try {
        if (!this.formModal.winner) {
          this.$notify({
            type: "danger",
            message: "Choose which side won.",
          });

          return
        }

        if (!this.formModal.remember) {
          this.$notify({
            type: "danger",
            message: "You need to confirm that you choose the right winner first.",
          });

          return
        }

        this.processing = true
        this.fight.winner = this.formModal.winner
        await this.$store.dispatch("fights/finishFight", this.fight);
        this.processing = false
        this.$notify({
          type: "success",
          message: "Fight successfully finished.",
        });
        this.getFight();
      
        this.modals.form = false
        // this.updateStatus('finish', this.formModal.winner)
      } catch (error) {
        this.$notify({
          type: "danger",
          message: `Oops, something went wrong!`,
        });
        this.processing = false
      }
      
    },

    async startFight() {
      const confirmation = await swal.fire({
        title: `Are you sure? <br/>Once match is started members can no longer place bets.`,
        icon: "warning",
        type: "question",
        buttonsStyling: false,
        showCancelButton: true,
        confirmButtonText: "Start Match!",
        cancelButtonText: "Cancel",
        confirmButtonClass: "btn btn-primary",
        cancelButtonClass: "btn btn-warning",
      });

      if (confirmation.value === true) {
        this.updateStatus('on-going')
      }
    },

    async cancelFight() {
      try {
        const confirmation = await swal.fire({
          title: `Are you sure? <br/>Once cancelled all bettings will returned to bettors.`,
          icon: "warning",
          type: "question",
          buttonsStyling: false,
          showCancelButton: true,
          confirmButtonText: "Cancel Match!",
          cancelButtonText: "Close",
          confirmButtonClass: "btn btn-primary",
          cancelButtonClass: "btn btn-warning",
        });

        if (confirmation.value === true) {
          this.processing = true
          await this.$store.dispatch("fights/cancelFight", this.fight);
          this.processing = false
        }

      } catch (error) {
        this.$notify({
          type: "danger",
          message: `Oops, something went wrong!`,
        });
        this.processing = false
      }
    },

    async updateStatus(status) {
      try {
        this.fight.status = status

        if (status === 'open') {
          // this.fight.time_to_close = moment().add(this.fight.tournament.timer, 'minutes').format('YYYY-MM-DD HH:mm:ss');
        } else {
          this.fight.time_to_close = null
        }

        // if (status === 'open' && !this.fight.time_to_close) {
        //   this.$notify({
        //     type: "danger",
        //     message: "Cannot generate time. Contact admin.",
        //   });
        //   this.processing = false
        //   this.fight.status = this.original_status
        //   return
        // }

        this.processing = true
        await this.$store.dispatch("fights/updateStatus", this.fight);
        this.processing = false
        this.$notify({
          type: "success",
          message: "Status Updated successfully.",
        });
      } catch (error) {
        this.processing = false
        let response = error.response
        if (response.status === 400) {
          if (response.data && response.data.message) {
            if (response.data.message === 'on-going fight found.') {
              swal.fire({
                title: `There is an existing match that is open for betting or on-going fight.`,
                icon: "error",
                buttonsStyling: false,
                confirmButtonText: "Close",
                confirmButtonClass: "btn btn-primary",
              });
              this.fight.status = this.original_status
              return;
            }
            else if (response.data.message === 'No bets found.') {
              swal.fire({
                title: `Bets on both sides is required to start fight.`,
                icon: "error",
                buttonsStyling: false,
                confirmButtonText: "Close",
                confirmButtonClass: "btn btn-primary",
              });
              this.fight.status = this.original_status
              return;
            }
          }
        }
        this.$notify({
          type: "danger",
          message: "Oops, something went wrong!",
        });
      }
    },

    async startTimerToFinishFight() {
      try {

        const confirmation = await swal.fire({
          title: `Are you sure you want to start timer?`,
          icon: "warning",
          type: "question",
          buttonsStyling: false,
          showCancelButton: true,
          confirmButtonText: "Start Timer!",
          cancelButtonText: "Cancel",
          confirmButtonClass: "btn btn-primary",
          cancelButtonClass: "btn btn-warning",
        });

        if (confirmation.value === true) {
          this.fight.timer_started = 'on'
          this.processing = true
          await this.$store.dispatch("fights/startTimerToFinishFight", this.fight);
          this.processing = false
          this.$notify({
            type: "success",
            message: "Timer Started.",
          });
        }

        
      } catch (error) {
        this.processing = false
        let response = error.response
        if (response.status === 400) {
          if (response.data && response.data.message) {
            if (response.data.message === 'Not on-going fight.') {
              swal.fire({
                title: `Cannot set timer for none on-going fight.`,
                icon: "error",
                buttonsStyling: false,
                confirmButtonText: "Close",
                confirmButtonClass: "btn btn-primary",
              });
              this.fight.status = this.original_status
              return;
            }
          }
        }
        this.$notify({
          type: "danger",
          message: "Oops, something went wrong!",
        });
      }
    },

    async autoCloseTimerUpdate(timer) {
      let params = {
        id: this.fight.id.toString(),
        type: 'fights',
        disable_timer_autoclose: timer,
      }

      this.disable_processing = true
      await this.$store.dispatch("fights/update", params);
      this.$notify({
        type: "success",
        message: "Fight updated successfully.",
      });
      this.disable_processing = false
    },

    toMoney(number = 0) {
      return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },

    setTimer() {
      let time_to_close = moment(this.fight.time_to_close).format('YYYY-MM-DD HH:mm:ss')
      let now_time = moment().format('YYYY-MM-DD HH:mm:ss')
      
      time_to_close = moment(time_to_close)
      now_time = moment(now_time)

      let minutes_diff = time_to_close.diff(now_time, 'milliseconds');
      this.time = (minutes_diff <= 0 ) ? 0 : Math.abs(minutes_diff)
      this.counting = true
    },

    onCountdownEnd(data) {
      if (!this.fight.disable_timer_autoclose) {
        this.updateStatus('close')
      }
    },

    calculatePercent(side) {
      let orig_side_total = (side === 'wala') ? this.fight.wala_total : this.fight.meron_total
      let oppose_total = (side === 'wala') ? this.fight.meron_total : this.fight.wala_total

      if (!orig_side_total)
        return 0;
      
      if (!oppose_total)
        return 100;

      let tong_percentage = +this.fight.tournament.tong_percentage / 100

      let cut_side_total = +orig_side_total * tong_percentage
      let side_total = +orig_side_total - cut_side_total

      let oppose_side_total = +oppose_total * tong_percentage
      oppose_total = oppose_total - oppose_side_total

      let all_total = +side_total + +oppose_total

      let percentage = (+all_total / +orig_side_total) * 100

      return Math.round(percentage * 100) / 100
    },

    async undoFinishFight(id) {
      const confirmation = await swal.fire({
        title: `Are you sure? <br/>This will put fight status back to on-going and all payouts will be deducted from users.`,
        icon: "warning",
        type: "question",
        buttonsStyling: false,
        showCancelButton: true,
        confirmButtonText: "Yes",
        cancelButtonText: "Cancel",
        confirmButtonClass: "btn btn-primary",
        cancelButtonClass: "btn btn-warning",
      });

      if (confirmation.value === true) {
        try {
          let params = {
            type: 'fights',
            id: id
          }

          this.fight_undo_processing = true
          await this.$store.dispatch("fights/undoFight", params);
          this.processing = false
          this.$notify({
            type: "success",
            message: "Fight successfully restored back to on-going.",
          });
          this.fight_undo_processing = false
        } catch (error) {
          this.fight_undo_processing = false
          this.$notify({
            type: "danger",
            message: `Oops, something went wrong!`,
          });
        }
      }
    }
  },
};
</script>
