<template>
  <div class="container-fluid mt-4">

    <div class="row align-items-center mb-3">
        <div class="col-12 text-right ">
          <base-button size="sm" type="info" class="mb-0" @click="goBack()">Back To History</base-button>
        </div>
      </div>
    <div>

    <template>
      <card
        class="no-border-card"
        body-classes="px-0"
        footer-classes="pb-2"
      >
        <template slot="header">
          <div class="row">
            <div :class="fight.status == 'finish' || fight.status == 'open' ? 'col-8' : 'col-12'">
              <h3 class="mb-0">{{ fight.tournament.title }} <br /> Fight #{{ fight.fight_number }}</h3>

              <span class="badge badge-pill badge-warning mr-4" v-if="fight.status == 'pending'">{{ fight.status }}</span>

              <span class="badge badge-pill badge-success mr-4" v-if="fight.status == 'open'">{{ fight.status }}</span>

              <span class="badge badge-pill badge-info mr-4" id="pulse" v-if="fight.status == 'on-going'">on-going fight</span>

              <span class="badge badge-pill badge-danger mr-4" v-if="fight.status == 'close'">{{ fight.status }}</span>

              <span class="badge badge-pill badge-success mr-4" v-if="fight.status == 'finish'">{{ fight.status }}</span>

              <span class="badge badge-pill badge-dark mr-4" v-if="fight.status == 'cancelled'">{{ fight.status }}</span>

            </div>
            <div class="col-4 text-right" v-if="fight.status == 'finish'">
              <div>
                <small v-if="fight.winner == 'meron'">Winner: <span class="text-danger" style="font-weight: 700; font-size: 18px;">INILOG</span></small>

                <small v-if="fight.winner == 'wala'">Winner: <span class="text-primary" style="font-weight: 700; font-size: 18px;">BIYA</span></small>

                <small v-if="fight.winner == 'draw'">Winner: <span class="text-dark" style="font-weight: 700; font-size: 18px;">DRAW</span></small>
              </div>
            </div>
          </div>
        </template>

        <div>
          <div class="col-12">
            <div class="row justify-content-md-center">
              <div class="col-12">
                <div class="row mt-2">
                  <div class="col-5 text-center">
                    <h3 class="text-md text-danger"> 
                    {{ toMoney(fight.meron_total) }} <br/> 
                      <span class="text-sm text-dark" style="font-weight: 700">Inilog Total</span>
                    </h3>
                  </div>
                  <div class="col-2 text-center"></div>
                  <div class="col-5 text-center">
                    <h3 class="text-md text-primary"> 
                    {{ toMoney(fight.wala_total) }} <br/>
                    <span class="text-sm text-dark" style="font-weight: 700">Biya Total</span>
                    </h3>

                  </div>
                </div>

                <hr />
                <div class="row mt-2">

                  <div class="col-12 mb-3 tb-l">
                    <div class="row">
                        <div class="col-md-12">
                          <small>Total: {{ total_bets }}</small>
                        </div>
                      </div>
                    <div class="row align-items-center">
                      <div class="col-6">
                         <span :class="(active_tab === 'meron') ? 'text-green' : 'text-gray'" style="font-weight: 700; font-size: 15px;cursor: pointer;" @click="changeTab('meron')">Inilog({{my_bets_meron.length}})</span> | <span :class="(active_tab === 'wala') ? 'text-green' : 'text-gray'" style="font-weight: 700; font-size: 15px;;cursor: pointer;" @click="changeTab('wala')">Biya({{my_bets_wala.length}})</span>
                      </div>
                      <div class="col-6 text-right">
                        <!-- <el-input 
                          placeholder="Search" v-model="search_bets" clearable
                          suffix-icon="el-icon-search"
                        >
                        </el-input> -->
                        <base-checkbox v-model="unclaimed" class="h3" v-if="active_tab == fight.winner || fight.winner == 'draw' || fight.status == 'cancelled'">
                          Unclaimed
                        </base-checkbox>
                      </div>
                    </div>
                  </div>

                  <table v-if="active_tab === 'meron'" class="table table-striped table-responsive">
                    <thead>
                      <tr>
                        <th> Ref. Number </th>
                        <th> Amount </th>
                        <th> Payout </th>
                      </tr>
                    </thead>
                    <tbody>
                      <template v-for="bet in filtered_my_bets_meron">
                        <tr>
                          <td>
                            {{ bet.reference_number }}

                            <template v-if="showClaimBtn('meron')">
                              <span class="badge badge-pill badge-success" v-if="bet.claimed">claimed</span>
                              <base-button type="primary" :disabled="processing" v-else size="sm" @click="claimPayout(bet)">Claim</base-button>
                            </template>
                          </td>
                          <td>{{ (fight.status === 'cancelled' || fight.winner === 'draw') ? bet.payout : bet.amount }}</td>
                          <td><span class="text-purple">{{ bet.payout }}</span></td>
                        </tr>
                      </template>
                    </tbody>
                  </table>

                  <table v-if="active_tab === 'wala'" class="table table-striped table-responsive">
                    <thead>
                      <tr>
                        <th> Ref. Number </th>
                        <th> Amount </th>
                        <th> Payout </th>
                      </tr>
                    </thead>
                    <tbody>
                      <template v-for="bet in filtered_my_bets_wala">
                        <tr>
                          <td>
                            {{ bet.reference_number }}

                            <template v-if="showClaimBtn('wala')">
                              <span class="badge badge-pill badge-success" v-if="bet.claimed">claimed</span>
                              <base-button type="primary" :disabled="processing" v-else size="sm" @click="claimPayout(bet)">Claim</base-button>
                            </template>
                          </td>
                          <td>{{ (fight.status === 'cancelled' || fight.winner === 'draw') ? bet.payout : bet.amount }}</td>
                          <td><span class="text-purple">{{ bet.payout }}</span></td>
                        </tr>
                      </template>
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>
        </div>
        
      </card>
    </template>

    </div>
  </div>
</template>
<script>
import { BasePagination } from "@/components/argon-core";
import { Modal, BaseAlert } from "@/components/argon-core";
import {
  Table,
  TableColumn,
  DropdownMenu,
  DropdownItem,
  Dropdown,
  Tooltip,
  Select,
  Option,
  RadioButton,
  Button,
  Input
} from "element-ui";
import swal from "sweetalert2";
import "sweetalert2/dist/sweetalert2.css";
import { cloneDeep } from "lodash"
import VueCountdown from '@chenfengyuan/vue-countdown';
import moment from 'moment';

export default {
  layout: "DashboardLayout",
  middleware: "mashador",

  components: {
    BasePagination,
    [Tooltip.name]: Tooltip,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    [Dropdown.name]: Dropdown,
    [DropdownItem.name]: DropdownItem,
    [DropdownMenu.name]: DropdownMenu,
    [Select.name]: Select,
    [Option.name]: Option,
    [Button.name]: Button,
    [Input.name]: Input,
    VueCountdown
  },

  data() {
    return {
      tournament: {
        type: "tournaments",
        title: null,
        start_date: null,
        description: null,
      },
      fight: {
        id: 0,
        tournament: {
          title: ''
        },
        winner: ''
      },
      modals: {
        form: false,
      },
      formModal: {
        mashador_bettor_name: null,
        amount: "",
        error: '',
        remember: false,
        response: null
      },
      user: {
        credit: 0
      },
      my_bets_wala: [],
      my_bets_meron: [],
      filtered_my_bets_wala: [],
      filtered_my_bets_meron: [],
      active_tab: 'meron',
      search_bets: null,
      processing: false,
      total_bets: 0,
      unclaimed: false
    };
  },

  async fetch() {
    try {
      await this.getFight();
      await this.getBets()
    } catch (error) {
      this.$notify({
        type: "danger",
        message: `Oops, something went wrong!`,
      });
    }
  },

  async created() {
  },

  destroyed() {
    this.$echo.leave('claim-bet-' + this.fight.id);
  },

  watch: {
    search_bets: {
      handler: "getListDebounced",
      immediate: true,
    },
    unclaimed: {
      handler: "filterUnClaimed",
      immediate: true,
    },
  },

  methods: {

    async openConnection() {
      this.$echo.channel('claim-bet-' + this.fight.id)
      .listen('ClaimBet', async (e) => {
          
          let bet = e.bet;
          this.setUpdatedBet(bet)
          
      });
    },

    goBack() {
      this.$router.push('/station-betting-history/');
    },

    openModal(side) {
      this.bet_side_select = side
      this.modals.form = true
    },

    closeModal() {
      this.modals.form = false
      this.formModal = {
        response: null,
        mashador_bettor_name: null,
        amount: "",
        error: '',
        remember: false,
      }
    },

    async getFight() {
      try {
        const id = this.$route.params.id;
        await this.$store.dispatch("fights/get", id);
        this.fight = await cloneDeep(this.$store.getters["fights/fight"]);
        this.active_tab = (this.fight.winner !== 'draw' && this.fight.status !== 'cancelled') ? this.fight.winner : this.active_tab
        this.openConnection()

      } catch (error) {
        error({
          statusCode: 404,
          message: 'Page could not be found',
        })
      }
    },

    async getBets() {
      let user = await this.$store.getters["profile/me"]
      let params = {
        filter: {
          ...({ fight_id: this.fight.id }),
          ...({ user_id: this.$auth.user.id })
        },
      };

      await this.$store.dispatch("bettings/list", params).then(async () => {
        let bets = await this.$store.getters["bettings/list"];
        this.setBets(bets)
      });
    },

    setBets(bets) {
      let my_bets_wala = []
      let my_bets_meron = []
      let total_bets = 0
      bets.map(bet => {
        if(bet.ring_side === 'meron') {
          my_bets_meron.push(bet)
        }
        if(bet.ring_side === 'wala') {
         my_bets_wala.push(bet)
        }

        total_bets += +bet.amount
      })

      this.total_bets = total_bets
      this.my_bets_meron = my_bets_meron
      this.my_bets_wala = my_bets_wala
      this.filtered_my_bets_wala = my_bets_wala
      this.filtered_my_bets_meron= my_bets_meron
    },

    setBetsMeron(bets) {
      let my_bets_meron = []
      bets.map(bet => {
        my_bets_meron.push(bet)
      })

      this.my_bets_meron = my_bets_meron
      this.filtered_my_bets_meron= my_bets_meron
    },
    
    setBetsWala(bets) {
      let my_bets_wala = []
      bets.map(bet => {
        my_bets_wala.push(bet)
      })

      this.my_bets_wala = my_bets_wala
      this.filtered_my_bets_wala= my_bets_wala
    },

    toMoney(number = 0) {
      return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },

    calculatePayout(amount, side) {
      if (!amount)
        return 0

      let total_bettings = this.fight.total_bettings
      let tong_percentage = +this.fight.tournament.tong_percentage / 100

      let side_total = (side == 'meron') ? this.fight.meron_total : this.fight.wala_total
      let percentage_of_total = +amount / +side_total

      let opposite_side_total = (side == 'meron') ? this.fight.wala_total : this.fight.meron_total

      if (!opposite_side_total)
        return amount;

      let you_win = +opposite_side_total * percentage_of_total
      you_win = parseInt(you_win)

      let tong = you_win * tong_percentage
      tong = Math.round(tong)
      you_win = you_win - tong

      let payout = +amount + you_win

      return this.toMoney(payout)
    },

    changeTab(tab) {
      this.active_tab = tab

      this.searchBets()
      this.filterUnClaimed()
    },

    getListDebounced: _.debounce(function () {
      this.searchBets();
    }, 300),

    searchBets() {
      let search = (this.search_bets) ? this.search_bets.toLowerCase() : null

      if (!search) {
        if (this.active_tab === 'meron') {
          this.filtered_my_bets_meron = this.my_bets_meron
        }
        if (this.active_tab === 'wala') {
          this.filtered_my_bets_wala = this.my_bets_wala
        }

        return
      }

      let bets = (this.active_tab === 'meron') ? this.my_bets_meron : this.my_bets_wala

      let filteredItems = []

      bets && bets.forEach((item) => {
        const parts = search
          .replace(/[\^$\\.*+?()[\]{}|]/g, '\\$&')
          .trim()
          .split(' ')
        const regex = new RegExp(`(${parts.join('|')})`, 'i')

        if (regex.test(item.reference_number)) {
          filteredItems.push(item)
        }
      })

      if (this.active_tab === 'meron') {
        this.filtered_my_bets_meron = filteredItems
      }
      if (this.active_tab === 'wala') {
        this.filtered_my_bets_wala = filteredItems
      }

    },

    filterUnClaimed() {
      if (!this.unclaimed) {
        if (this.active_tab === 'meron') {
          this.filtered_my_bets_meron = this.my_bets_meron
        }
        if (this.active_tab === 'wala') {
          this.filtered_my_bets_wala = this.my_bets_wala
        }

        return
      }

      let bets = (this.active_tab === 'meron') ? this.my_bets_meron : this.my_bets_wala
      
      let filteredItems = bets.filter(item => {
        return !item.claimed
      })

      if (this.active_tab === 'meron') {
        this.filtered_my_bets_meron = filteredItems
      }
      if (this.active_tab === 'wala') {
        this.filtered_my_bets_wala = filteredItems
      }
    },

    // might remove later
    showClaimBtn(side) {
      if (this.fight.winner === 'draw' || this.fight.status === 'cancelled')
        return true

      if ((this.fight.status === 'finish') && this.fight.winner === side)
        return true

      return false
    },

    setUpdatedBet(bet) {
      if (bet.ring_side === 'meron') {
        let my_index = this.my_bets_meron.findIndex(item =>  item.id == bet.id)

        if (my_index >= 0) {
          let my_bets_meron = this.my_bets_meron
          my_bets_meron[my_index] = bet
          this.my_bets_meron = my_bets_meron

          this.setBetsMeron(this.my_bets_meron)
        }
        
      } else {
        let my_index = this.my_bets_wala.findIndex(item =>  item.id == bet.id)

        if (my_index >= 0) {
          let my_bets_wala = this.my_bets_wala
          my_bets_wala[my_index] = bet
          this.my_bets_wala = my_bets_wala

          this.setBetsWala(this.my_bets_wala)
        }
      }
    },

    // might remove when mobile app is ready
    async claimPayout(bet) {
      try {
        let betting = {
          type: 'bettings',
          id: bet.id,
          claimed: 1
        }

        this.processing = true
        await this.$store.dispatch("bettings/update", betting);
        let my_bet = await cloneDeep(this.$store.getters["bettings/betting"]);

        // this.setUpdatedBet(my_bet)

        this.processing = false
      } catch (error) {
        this.processing = false
        this.$notify({
          type: "danger",
          message: `Oops, something went wrong!`,
        });
      }
    }

  }
  
};
</script>
