<template>
  <div class="container-fluid mt-4">

    <div class="row align-items-center mb-3" v-if="fight && dr_status.includes(fight.status)">
      <div class="col-12 text-right ">
        <base-button size="sm" type="info" class="mb-0" @click="checkFights()">Check For New Match</base-button>
      </div>
    </div>

    <template v-if="!fight.id">
      <h4 class="text-center mt-3">No available fight.</h4>
    </template>

    <template v-else>
      <div>
        <card
          class="no-border-card mb-6"
          body-classes="px-0"
          footer-classes="pb-2"
        >
          <template slot="header">
            <div class="row">
              <div :class="fight.status == 'finish' || fight.status == 'open' ? 'col-8' : 'col-12'">
                <h3 class="mb-0">{{ fight.tournament.title }} <br /> <span class="text-blue">Fight #{{ fight.fight_number }}</span></h3>

                <span class="badge badge-pill badge-warning mr-4" v-if="fight.status == 'pending'">{{ fight.status }}</span>

                <span class="badge badge-pill badge-success mr-4" v-if="fight.status == 'open'">{{ fight.status }}</span>

                <span class="badge badge-pill badge-info mr-4" id="pulse" v-if="fight.status == 'on-going'">on-going fight</span>

                <span class="badge badge-pill badge-danger mr-4" v-if="fight.status == 'close'">{{ fight.status }}</span>

                <span class="badge badge-pill badge-success mr-4" v-if="fight.status == 'finish'">{{ fight.status }}</span>

                <span class="badge badge-pill badge-dark mr-4" v-if="fight.status == 'cancelled'">{{ fight.status }}</span>

              </div>
              <div class="col-4 text-right" v-if="fight.status == 'finish'">
                <div>
                  <small v-if="fight.winner == 'meron'">Winner: <span id="pulse" class="text-danger" style="font-weight: 700; font-size: 18px;">INILOG</span></small>

                  <small v-if="fight.winner == 'wala'">Winner: <span id="pulse" class="text-primary" style="font-weight: 700; font-size: 18px;">BIYA</span></small>

                  <small v-if="fight.winner == 'draw'">Winner: <span id="pulse" class="text-dark" style="font-weight: 700; font-size: 18px;">DRAW</span></small>
                </div>
              </div>
              <div class="col-4 text-right" v-if="fight.status == 'open'">
                <span v-if="fight.status == 'open'" :id="(timer_warning) ? 'pulse' : ''" :class="(timer_warning) ? 'text-danger mr-2' : 'text-orange mr-2'" style="font-size: 25px; font-weight: 700">
                  <vue-countdown :time="time" v-slot="{ days, hours, minutes, seconds, milliseconds }"
                    v-if="counting"
                    @progress="checkProgress"
                    @end="onCountdownEnd"
                  >
                    {{ (hours) ? hours + ':' : '' }}{{ minutes }}:{{ seconds }}
                  </vue-countdown>
                </span>
              </div>
            </div>
          </template>

          <div>
            <div class="col-12">
              <div class="row justify-content-md-center">
                <div class="col-12">
                  <div class="row mt-2">
                    <div class="col-6 text-center">
                      <span v-if="fight.meron_name != 'Inilog'" style="font-size: 14px;display:block;line-height:1.2;margin-bottom: 10px;">{{ fight.meron_name }}</span>
                      <h3 class="text-md text-danger"> 
                        {{ toMoney(fight.meron_total) }} <br/> 
                        <span style="display:block; color: #333;font-size: 14px;font-weight: 600;">{{ calculatePercent('meron') }}%</span>
                        <span class="text-sm text-dark" style="font-weight: 700;margin-top: 10px;display: block;">Inilog Total</span>
                      </h3>

                      <base-button type="danger"  @click="openModal('meron')"  v-if="fight.status == 'open'">
                        <span class="btn-inner--text">Bet Inilog</span>
                      </base-button>
                    </div>
                    <div class="col-6 text-center">
                      <span v-if="fight.wala_name != 'Biya'" style="font-size: 14px;display:block;line-height:1.2;margin-bottom: 10px;">{{ fight.wala_name }}</span>
                      <h3 class="text-md text-primary"> 
                        {{ toMoney(fight.wala_total) }} <br/>
                        <span style="display:block; color: #333;font-size: 14px;font-weight: 600;">{{ calculatePercent('wala') }}%</span>
                        <span class="text-sm text-dark" style="font-weight: 700;margin-top: 10px;display: block;">Biya Total</span>
                      </h3>

                      <base-button type="primary" @click="openModal('wala')"  v-if="fight.status == 'open'">
                        <span class="btn-inner--text">Bet Biya</span>
                      </base-button>
                    </div>
                  </div>

                  <hr />
                  <div class="row mt-2">

                    <div class="col-12 mb-3 tb-l">
                      <div class="row">
                        <div class="col-md-12">
                          <small>Total: {{ total_bets }}</small>
                        </div>
                      </div>
                      <div class="row align-items-center">
                        <div class="col-6">
                          <span :class="(active_tab === 'meron') ? 'text-green' : 'text-gray'" style="font-weight: 700; font-size: 15px;cursor: pointer;" @click="changeTab('meron')">Inilog({{my_bets_meron.length}})</span> | <span :class="(active_tab === 'wala') ? 'text-green' : 'text-gray'" style="font-weight: 700; font-size: 15px;;cursor: pointer;" @click="changeTab('wala')">Biya({{my_bets_wala.length}})</span>
                        </div>
                        <div class="col-6">
                          <el-input 
                            placeholder="Search" v-model="search_bets" clearable
                            suffix-icon="el-icon-search"
                          >
                          </el-input>
                        </div>
                      </div>
                    </div>

                    <table v-if="active_tab === 'meron'" class="table table-striped table-responsive">
                      <thead>
                        <tr>
                          <th v-if="fight.status != 'on-going'"></th>
                          <th> Ref. Number </th>
                          <th> Amount </th>
                          <th> Payout </th>
                        </tr>
                      </thead>
                      <tbody>
                        <template v-for="bet in filtered_my_bets_meron">
                          <tr>
                            <td style="padding-left: 5px !important;padding-right: 5px !important;" v-if="fight.status != 'on-going'"> 
                              <base-button outline type="danger" size="sm" class="m-0" @click="deleteBet(bet.id)">Remove</base-button>
                            </td>
                            <td><a href="#" @click.prevent="showBetReceipt(bet)" class="text-blue">{{ bet.reference_number }}</a></td>
                            <td>{{ (fight.status === 'cancelled' || fight.winner === 'draw') ? bet.payout : bet.amount }}</td>
                            <td> 
                              <span class="text-purple">{{ (show_payout.includes(fight.status)) ? bet.payout : calculatePayout(bet.amount, 'meron') }}</span>
                            </td>
                          </tr>
                        </template>
                      </tbody>
                    </table>

                    <table v-if="active_tab === 'wala'" class="table table-striped table-responsive">
                      <thead>
                        <tr>
                          <th v-if="fight.status != 'on-going'"></th>
                          <th> Ref. Number </th>
                          <th> Amount </th>
                          <th> Payout </th>
                        </tr>
                      </thead>
                      <tbody>
                        <template v-for="bet in filtered_my_bets_wala">
                          <tr>
                            <td style="padding-left: 5px !important;padding-right: 5px !important;" v-if="fight.status != 'on-going'"> 
                              <base-button outline type="danger" size="sm" class="m-0" @click="deleteBet(bet.id)">Remove</base-button>
                            </td>
                            <td><a href="#" @click.prevent="showBetReceipt(bet)" class="text-blue">{{ bet.reference_number }}</a></td>
                            <td>{{ (fight.status === 'cancelled' || fight.winner === 'draw') ? bet.payout : bet.amount }}</td>
                            <td><span class="text-purple">{{ (show_payout.includes(fight.status)) ? bet.payout : calculatePayout(bet.amount, 'wala') }}</span></td>
                          </tr>
                        </template>
                      </tbody>
                    </table>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <!--Form modal-->
          <modal :show.sync="modals.form" size="sm" body-classes="p-0">
            <card
              type="secondary"
              header-classes="bg-transparent pb-5"
              body-classes="px-lg-5 py-lg-5"
              class="border-0 mb-0"
              >
              <div class="card-header bg-transparent">
                <div class="text-muted text-center mt-2 mb-3">
                  <h2 class="text-purple">Current Credit: {{toMoney(user.credit)}}</h2>
                </div>
                <div class="btn-wrapper text-center">
                  <span>You are betting on:</span></br>
                  <span :class="(bet_side_select == 'meron') ? 'text-danger' : 'text-primary'" style="text-transform: uppercase; font-weight: 700;">{{ (bet_side_select == 'meron') ? 'Inilog' : 'Biya' }}</span>
                </div>
              </div>

              <template>
                <form role="form" class="mt-4">
                  <small class="text-danger" v-if="formModal.error">{{formModal.error}}</small>
                  <base-input
                    alternative
                    v-model="formModal.amount"
                    class="mb-3 mt-2"
                    placeholder="Enter Amount"
                    prepend-icon="ni ni-money-coins"
                    type="number"
                  >
                  </base-input>
                  
                  <div class="text-center">
                    <base-button outline type="primary" size="sm" class="mb-2" style="min-width: 50px;" @click="updateAmount(100)">100</base-button>
                    <base-button outline type="primary" size="sm" class="mb-2" style="min-width: 50px;" @click="updateAmount(200)">200</base-button>
                    <base-button outline type="primary" size="sm" class="mb-2" style="min-width: 50px;" @click="updateAmount(500)">500</base-button>
                    <base-button outline type="primary" size="sm" class="mb-2" style="min-width: 50px;" @click="updateAmount(700)">700</base-button>
                    <base-button outline type="primary" size="sm" class="mb-2" style="min-width: 50px;" @click="updateAmount(1000)">1000</base-button>
                    <base-button outline type="primary" size="sm" class="mb-2" style="min-width: 50px;" @click="updateAmount(1500)">1500</base-button>
                    <base-button outline type="primary" size="sm" class="mb-2" @click="updateAmount(2000)">2000</base-button>
                  </div>
                  
                  
                  <base-checkbox v-model="formModal.remember" class="mt-3 h3">
                    I confirm the betting amount.
                  </base-checkbox>
                  
                  <div class="text-center">
                    <base-button 
                      :disabled="processing"
                       class="my-4" :type="(bet_side_select == 'meron') ? 'danger' : 'primary'"
                      @click.prevent="submitBet()"
                      >
                      Place Bet on <span style="text-transform: uppercase; margin-left: 5px"> {{ (bet_side_select == 'meron') ? 'Inilog' : 'Biya' }}</span>
                      </base-button
                    >
                  </div>
                </form>
              </template>
            </card>
          </modal>

          <!-- QRcode modal -->
          <modal :show.sync="modals.qrcode" size="sm" body-classes="p-0">
            <card 
              type="secondary"
              header-classes="bg-transparent pb-5"
              body-classes="px-lg-5 py-lg-5 text-center"
              class="border-0 mb-0">

              <div>
                <qrcode-vue :value="qrcodeModal.qr_value" :size="qr_size" level="H" render-as="svg" />
                <span class="text-dark h1">{{ qrcodeModal.qr_value }}</span>

                <div class="mt-3 display-block">{{ qrcodeModal.qr_amount }} for <span :class="(qrcodeModal.side == 'meron') ? 'text-danger' : 'text-primary'" style="text-transform: uppercase; font-weight: 700;">{{ (qrcodeModal.side == 'meron') ? 'Inilog' : 'Biya' }}</span>  </div>

                <div class="text-center mt-3">
                  <base-button type="primary" class="mt-3"
                    @click.prevent="printReceipt()"
                    >
                      <span class="btn-inner--icon"><i class="fas fa-print mr-1"></i></span>
                      <span class="btn-inner--text">Print</span>
                    </base-button>
                  <!--<a href="my.bluetoothprint.scheme://http://192.168.101.4/sabong-backend/public/print" class="btn btn-primary mt-3">Print</a>-->
                  <base-button type="danger" class="mt-3"
                    @click.prevent="closeQRModal()"
                    >
                    Close
                    </base-button
                  >
                </div>
              </div>
              
            </card>
          </modal>
          
        </card>
      </div>
    </template>

    <!--<template>
      <base-button 
        :disabled="refreshing" 
        size="sm" 
        type="warning" 
        class="mb-0" 
        @click="refreshConnection()" 
        v-if=" fight && !dr_status.includes(fight.status)"
        style="position: fixed;bottom: 30px;left: 8px;">
        <span class="btn-inner--icon">
          <i :class="refreshing ? 'fa fa-sync fa-spin' : 'fa fa-sync'"></i>
        </span>
        <span class="btn-inner--text ml-1">{{ (refreshing) ? 'Refreshing Connection' : 'Refresh Connection' }}</span>
      </base-button>
    </template> -->

    <!-- Print Source -->
    <template>
      <div id="print-receipt" style="display: none;">
        <div style="width: 100%; 
          text-align: center; 
          padding: 20px 0;
          margin: 0;
          font-family: Open Sans, sans-serif;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          color: #000;
          background-color: #fff;
          ">
          <div class="h3 mb-0" style="color: #000;font-size: 22px;font-weight: 700;">Sabong ni Sabas</div>
          <small class="mb-1">San Jose, Negros Oriental 6202</small> <br/>

          <p class="mb-0" style="margin-bottom: 0px; margin-top: 4px;">{{ fight.tournament.title }} - Fight #{{ fight.fight_number }}</p>
          <div class="mt-2 display-block">Php {{ qrcodeModal.qr_amount }} for </div>
          <div class="mt-2 mb-1 display-block" style="
              font-size: 28px;
              text-transform: uppercase;
              font-weight: 700;
              margin-bottom: 15px;
          ">{{ (qrcodeModal.side == 'meron') ? 'Inilog' : 'Biya' }}</div>

          <qrcode-vue :value="qrcodeModal.qr_value" :size="qr_size" level="H" render-as="svg" />
          <div style="font-size: 23px;margin-top: 8px;">{{ qrcodeModal.qr_value }}</div>
          <div style="font-size: 18px;margin-top: 2px;font-weight: 700;">{{ station.name }}</div>
          <br/>

          <div style="margin-top: 10px;" class="text-center">*******<br/>******</div>
        </div>
      </div>
    </template>
    <!-- Print Source -->
  </div>
</template>
<script>
import { BasePagination } from "@/components/argon-core";
import { Modal, BaseAlert } from "@/components/argon-core";
import {
  Table,
  TableColumn,
  DropdownMenu,
  DropdownItem,
  Dropdown,
  Tooltip,
  Select,
  Option,
  RadioButton,
  Button,
  Input
} from "element-ui";
import swal from "sweetalert2";
import "sweetalert2/dist/sweetalert2.css";
import { cloneDeep } from "lodash"
import VueCountdown from '@chenfengyuan/vue-countdown';
import moment from 'moment';
import * as NoSleep from 'nosleep.js/dist/NoSleep';
import QrcodeVue from 'qrcode.vue'

export default {
  layout: "DashboardLayout",
  middleware: "mashador",

  components: {
    BasePagination,
    [Tooltip.name]: Tooltip,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    [Dropdown.name]: Dropdown,
    [DropdownItem.name]: DropdownItem,
    [DropdownMenu.name]: DropdownMenu,
    [Select.name]: Select,
    [Option.name]: Option,
    [Button.name]: Button,
    [Input.name]: Input,
    VueCountdown,
    QrcodeVue
  },

  data() {
    return {
      nosleep: new NoSleep(),
      time: 0,
      counting: false,
      tournament: {
        type: "tournaments",
        title: null,
        start_date: null,
        description: null,
      },
      fight: {
        id: 0,
        tournament: {
          title: ''
        },
        winner: ''
      },
      modals: {
        form: false,
        qrcode: false
      },
      formModal: {
        mashador_bettor_name: null,
        amount: "",
        error: '',
        remember: false,
        response: null
      },
      qrcodeModal: {
        qr_value: '',
        qr_amount: null,
        side: null
      },
      bet_side_select: "",
      station: {
        name: null
      },
      user: {
        credit: 0
      },
      my_bets_wala: [],
      my_bets_meron: [],
      filtered_my_bets_wala: [],
      filtered_my_bets_meron: [],
      active_tab: 'meron',
      search_bets: null,
      refreshing: false,
      dr_status: ['finish', 'cancelled'],
      processing: false,
      show_payout: ['cancelled', 'draw', 'finish'],
      awaken: true,
      qr_size: 150,
      timer_warning: false,
      total_bets: 0
    };
  },

  async fetch() {
    try {
      await this.getFight();
      await this.getBets()
    } catch (error) {
      this.$notify({
        type: "danger",
        message: `Oops, something went wrong!`,
      });
    }
  },

  async created() {
    await this.$store.dispatch("profile/me");
    this.user.credit = await cloneDeep(this.$store.getters["profile/credit"]);
    this.station = await cloneDeep(this.$store.getters["profile/me"]);
    this.$store.watch(
      () => this.$store.getters["profile/credit"],
      (credit) => {
        this.user.credit = credit
      }
    );

    try {
      await this.nosleep.enable()
      this.awaken = true
    } catch (error) {
      this.awaken = false
    }
  },

  destroyed() {
    this.$echo.leave('fight-' +this.fight.id);

    this.nosleep.disable()
  },

  watch: {
    search_bets: {
      handler: "getListDebounced",
      immediate: true,
    },
    awaken: {
      handler: "awakeScreen",
      immediate: true,
    }
  },

  methods: {
    async openConnection(fight = null) {
      let nuxtjs = this
      let new_id = (fight === 'new') ? 0 : this.fight.id
      this.$echo.channel('fight-' + new_id)
      .listen('FightUpdated', async (e) => {
          if (!this.fight.id || !new_id) {
            this.$echo.leave('fight-0');
            await this.getFight()
            await this.getBets()
          } else {
            let fight = e.fight

            if(this.dr_status.includes(fight.status)) {
              this.$echo.leave('fight-' + this.fight.id);

              // if (fight.winner === 'meron')
              //   this.active_tab = 'meron'
              // if (fight.winner === 'wala')
              //   this.active_tab = 'wala'

              // this.getBets()

              this.redirectToHistory()
              return;
            }

            nuxtjs.fight= fight

            if (fight.status === 'open') {
              this.setTimer()
            }

            if (fight.status === 'close') {
              await this.getBets()
            }
             
          }
          
          
      });
    },

    openModal(side) {
      this.bet_side_select = side
      this.modals.form = true
    },

    closeQRModal() {
      this.modals.qrcode = false
      this.qrcodeModal = {
        qr_value: '',
        qr_amount: null,
        side: null
      }
    },

    async getFight() {
      try {
        const id = this.fight.id;
        await this.$store.dispatch("fights/getCurrentFight");
        let fight = await cloneDeep(this.$store.getters["fights/fight"]);

        if(fight) {
          this.fight = fight

          if (this.fight.status === 'open') {
            this.setTimer()
          }

          this.openConnection()
        } else {
          this.openConnection('new')
        }

        this.refreshing = false

      } catch (error) {
        error({
          statusCode: 404,
          message: 'Page could not be found',
        })
      }
    },

    async getBets() {
      try {
        let user = await this.$store.getters["profile/me"]
        let params = {
          filter: {
            ...({ fight_id: this.fight.id }),
            ...({ user_id: this.$auth.user.id })
          },
        };

        await this.$store.dispatch("bettings/list", params).then(async () => {
          let bets = await this.$store.getters["bettings/list"];
          this.setBets(bets)

        });
      } catch (error) {
        this.processing = false
        this.$notify({
          type: "danger",
          message: `Oops, something went wrong!`,
        });
      }
    },

    setBets(bets) {
      let my_bets_wala = []
      let my_bets_meron = []
      let total_bets = 0
      bets.map(bet => {
        if(bet.ring_side === 'meron') {
          my_bets_meron.push(bet)
        }
        if(bet.ring_side === 'wala') {
         my_bets_wala.push(bet)
        }

        total_bets += +bet.amount
      })

      this.total_bets = total_bets
      this.my_bets_meron = my_bets_meron
      this.my_bets_wala = my_bets_wala
      this.filtered_my_bets_wala = my_bets_wala
      this.filtered_my_bets_meron= my_bets_meron
    },

    async submitBet() {
      if ( isNaN(this.formModal.amount) || !this.formModal.amount ) {
        this.formModal.error = 'Invalid value. Enter a number.'
        return;
      }

      if ( parseFloat(this.formModal.amount) > parseFloat(this.user.credit)) {
        this.formModal.error = 'You don\'t have enough credit.'
        return;
      }

      if ( parseFloat(this.formModal.amount) < 100) {
        this.formModal.error = 'Minimum amount is 100.'
        return;
      }

      if (!this.formModal.remember) {
        this.$notify({
          type: "danger",
          message: "You need to confirm that you enter the exact amount.",
        });

        return
      }

      this.formModal.error = null
      this.formModal.amount = parseInt(this.formModal.amount)
      
      try {
        let betting = {
          type: 'bettings',
          fight_id: this.fight.id,
          ring_side: this.bet_side_select,
          amount: this.formModal.amount,
          mashador_bettor_name: this.formModal.mashador_bettor_name
        }

        this.processing = true
        let my_bet = await this.$store.dispatch("bettings/placeBetMashador", betting);
        if (my_bet.ring_side === 'meron') {
          this.my_bets_meron.push(my_bet)
        } else {
          this.my_bets_wala.push(my_bet)
        }

        this.total_bets = +this.total_bets + +my_bet.amount

        this.processing = false
        this.formModal.response = my_bet.reference_number
        this.active_tab = this.bet_side_select

        this.modals.qrcode = true
        this.qrcodeModal = {
          qr_value: my_bet.reference_number,
          qr_amount: my_bet.amount,
          side: my_bet.ring_side
        }

        this.modals.form = false
        this.formModal = {
          response: null,
          mashador_bettor_name: null,
          amount: "",
          error: '',
          remember: false,
        }

        
        
        this.$notify({
          type: "success",
          message: "Bets added.",
        });

        
        // this.getFight();
      } catch (error) {
        this.processing = false
        let response = error.response
        if (response.status === 400) {
          if (response.data && response.data.message) {
            if (response.data.message === 'Not enough credit.') {
              swal.fire({
                title: `You don\'t have enough credit.`,
                icon: "error",
                buttonsStyling: false,
                confirmButtonText: "Close",
                confirmButtonClass: "btn btn-primary",
              });
              this.fight.status = this.original_status
              return;
            }

            if (response.data.message === 'fight closed.') {
              swal.fire({
                title: `Betting is closed!`,
                icon: "error",
                buttonsStyling: false,
                confirmButtonText: "Close",
                confirmButtonClass: "btn btn-primary",
              });
              this.processing = false
              this.modals.form = false
              this.fight.status = this.original_status
              return;
            }
          }
        }

        this.formModal = {
          amount: "",
          error: '',
          remember: false,
        }

        this.$notify({
          type: "danger",
          message: "Oops, something went wrong!",
        });
      }
    },

    updateAmount(amount = 0) {
      this.formModal.error = ""
      this.formModal.amount = amount
    },

    toMoney(number = 0) {
      return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },

    calculatePayout(amount, side) {
      if (!amount)
        return 0

      let total_bettings = this.fight.total_bettings
      let tong_percentage = +this.fight.tournament.tong_percentage / 100

      let my_side_total = (side == 'meron') ? this.fight.meron_total : this.fight.wala_total
      let my_percentage_of_total = +amount / +my_side_total

      let opposite_side_total = (side == 'meron') ? this.fight.wala_total : this.fight.meron_total

      if (!opposite_side_total)
        return amount;

      let opposite_side_total_tong = opposite_side_total * tong_percentage
      opposite_side_total = opposite_side_total - opposite_side_total_tong

      let you_win = +opposite_side_total * my_percentage_of_total
      you_win = parseInt(you_win)

      let my_side_tong = amount * tong_percentage
      my_side_tong = Math.round(my_side_tong)
      amount =  amount - my_side_tong

      let payout = +amount + you_win
      // let total_tong = oposite_side_tong + my_side_tong

      return this.toMoney(payout)
    },

    setTimer() {
      let time_to_close = moment(this.fight.time_to_close).format('YYYY-MM-DD HH:mm:ss')
      let now_time = moment().format('YYYY-MM-DD HH:mm:ss')

      time_to_close = moment(time_to_close)
      now_time = moment(now_time)

      let minutes_diff = time_to_close.diff(now_time, 'milliseconds');
      this.time = (minutes_diff <= 0 ) ? 0 : Math.abs(minutes_diff)
      this.counting = true
    },

    async onCountdownEnd() {
      //try {
      //  if (!this.fight.disable_timer_autoclose) {
      //    this.timer_warning = false
      //    this.processing = true
      //    this.fight.status = 'close'
      //    await this.$store.dispatch("fights/updateStatus", this.fight);
      //    this.processing = false
      //  }
      //} catch (error) {
      //  this.processing = false
      //  this.$notify({
      //    type: "danger",
      //    message: `Oops, something went wrong!`,
      //  });
      // this.setApiValidation(error.response.data.errors);
     // }
    },

    changeTab(tab) {
      this.active_tab = tab

      this.searchBets()
    },

    getListDebounced: _.debounce(function () {
      this.searchBets();
    }, 300),

    searchBets() {
      let search = (this.search_bets) ? this.search_bets.toLowerCase() : null

      if (!search) {
        if (this.active_tab === 'meron') {
          this.filtered_my_bets_meron = this.my_bets_meron
        }
        if (this.active_tab === 'wala') {
          this.filtered_my_bets_wala = this.my_bets_wala
        }

        return
      }

      let bets = (this.active_tab === 'meron') ? this.my_bets_meron : this.my_bets_wala

      let filteredItems = []

      bets && bets.forEach((item) => {
        const parts = search
          .replace(/[\^$\\.*+?()[\]{}|]/g, '\\$&')
          .trim()
          .split(' ')
        const regex = new RegExp(`(${parts.join('|')})`, 'i')

        if (regex.test(item.reference_number)) {
          filteredItems.push(item)
        }
      })

      if (this.active_tab === 'meron') {
        this.filtered_my_bets_meron = filteredItems
      }
      if (this.active_tab === 'wala') {
        this.filtered_my_bets_wala = filteredItems
      }

    },

    async checkFights() {
      await this.getFight();
      await this.getBets()
    },

    async refreshConnection() {
      this.refreshing = true
      this.$echo.leave('fight-' + this.fight.id);
      await this.$store.dispatch("profile/me");
      await this.getFight()
      await this.getBets()
      this.nosleep.enable()
    },

    async awakeScreen() {
      if (!this.awaken) {
        const confirmation = await swal.fire({
          title: `keep screen awake while betting.`,
          icon: "info",
          buttonsStyling: false,
          showCancelButton: false,
          confirmButtonText: "Ok",
          confirmButtonClass: "btn btn-primary",
          allowOutsideClick: false
        });

        if (confirmation.value === true) {
          await this.nosleep.enable()
        }
      }
    },

    redirectToHistory() {
      this.$router.push({
        name: "station-betting-history-view-id",
        params: { id: this.fight.id },
      });
    },

    showBetReceipt(bet) {
      this.modals.qrcode = true
      this.qrcodeModal = {
        qr_value: bet.reference_number,
        qr_amount: bet.amount,
        side: bet.ring_side
      }
    },

    async printReceipt() {
      await this.$htmlToPaper('print-receipt');
    },

    calculatePercent(side) {
      let orig_side_total = (side === 'wala') ? this.fight.wala_total : this.fight.meron_total
      let oppose_total = (side === 'wala') ? this.fight.meron_total : this.fight.wala_total

      if (!orig_side_total)
        return 0;
      
      if (!oppose_total)
        return 100;

      let tong_percentage = +this.fight.tournament.tong_percentage / 100

      let cut_side_total = +orig_side_total * tong_percentage
      let side_total = +orig_side_total - cut_side_total

      let oppose_side_total = +oppose_total * tong_percentage
      oppose_total = oppose_total - oppose_side_total

      let all_total = +side_total + +oppose_total

      let percentage = (+all_total / +orig_side_total) * 100

      return Math.round(percentage * 100) / 100
    },

    checkProgress(data) {
      if (data.minutes == 0 && data.minutes <= 1 && data.seconds <= 15)
        this.timer_warning = true
      else 
        this.timer_warning = false
      
    },

    async deleteBet(id) {

      const confirmation = await swal.fire({
        title: `Delete this bet?`,
        type: "question",
        buttonsStyling: false,
        showCancelButton: true,
        confirmButtonText: "Yes",
        cancelButtonText: "No",
        confirmButtonClass: "btn btn-primary",
        cancelButtonClass: "btn btn-warning",
        icon: "warning",
      });

      try {
        if (confirmation.value === true) {
          await this.$store.dispatch("bettings/destroy", id);
          this.getBets()
        }
      } catch (error) {
        this.$notify({
          type: "danger",
          message: "Oops, something went wrong!",
        });
      }
    },

  }
  
};
</script>
