<template>
  <div class="container-fluid mt-5">
    <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 d-inline-block mb-0">{{ tournament.title}} - Fights</h6>
        </div>
        <div class="col-lg-6 col-5 text-right ">
          <el-select
            class="select-primary pagination-select mb-3"
            v-model="pagination.perPage"
            placeholder="Per page"
          >
            <el-option
              class="select-primary"
              v-for="item in pagination.perPageOptions"
              :key="item"
              :label="item"
              :value="item"
            >
            </el-option>
          </el-select>
          <el-select
            class="select-primary pagination-select"
            placeholder="Status"
            v-model="status_selected"
          >
            <el-option
              class="select-primary"
              v-for="status in statuses"
              :key="status"
              :label="status"
              :value="status"
            >
            </el-option>
          </el-select>
          <base-button size="sm" type="neutral" class="mb-0" @click="goBack">Back To Tournaments</base-button>
          <base-button size="sm" type="primary"  class="mb-0">
            <span class="btn-inner--icon"
              ><i class="fas fa-edit"></i
            ></span>
            <span class="btn-inner--text"  @click="addFight()">Add Fight</span>
          </base-button>
        </div>
      </div>
    <div>

    <div class="row mb-3">
      <div class="col-6">
        <h2 style="margin-bottom: -5px;">Total Money: <span class="text-green">{{toMoney(tournament.actual_total_income)}}</span></h2>
        <small>(Including round down profit.)</small>
      </div>
      <div class="col-6 text-right">
        <h2>Overall Total Income: <span class="text-blue">{{toMoney(tournament.total_income)}}</span></h2>
      </div>
    </div>

      <template>
        <template v-for="fight in fights">
          <card
            class="no-border-card"
            body-classes="px-0"
            footer-classes="pb-2"
          >
            <template slot="header">
              <div class="row">
                <div class="col-6">
                  <h3 class="mb-0">Fight #{{ fight.fight_number }}</h3>
                  <badge class="badge-dot mr-4" type="" v-if="fight.status == 'pending'">
                    <i :class="`bg-warning`"></i>
                    <span class="status">{{ fight.status }}</span>
                  </badge>
                  <badge class="badge-dot mr-4" type="" v-if="fight.status == 'open'">
                    <i :class="`bg-primary`"></i>
                    <span class="status">{{ fight.status }}</span>
                  </badge>
                  <badge class="badge-dot mr-4" type="" v-if="fight.status == 'on-going'">
                    <i :class="`bg-info`"></i>
                    <span class="status">{{ fight.status }}</span>
                  </badge>
                  <badge class="badge-dot mr-4" type="" v-if="fight.status == 'close'">
                    <i :class="`bg-danger`"></i>
                    <span class="status">{{ fight.status }}</span>
                  </badge>
                  <badge class="badge-dot mr-4" type="" v-if="fight.status == 'finish'">
                    <i :class="`bg-success`"></i>
                    <span class="status">{{ fight.status }}</span>
                  </badge>
                  <badge class="badge-dot mr-4" type="" v-if="fight.status == 'cancelled'">
                    <i :class="`bg-dark`"></i>
                    <span class="status">{{ fight.status }}</span>
                  </badge>
                </div>
                <div class="col-6 text-right">
                  <div v-if="fight.status == 'finish'" class="mb-1">
                    <small class="mr-4" v-if="fight.winner == 'meron'">Winner: <span class="text-danger" style="font-weight: 700">Inilog</span></small>

                    <small class="mr-4" v-if="fight.winner == 'wala'">Winner: <span class="text-primary" style="font-weight: 700">Biya</span></small>

                    <small class="mr-4" v-if="fight.winner == 'draw'">Winner: <span class="text-dark" style="font-weight: 700">Draw</span></small>
                    <small>Total Earnings: <span class="text-green">{{ fight.total_earnings }}</span></small>
                    <br/>
                    <small>Total Money (including round down profit): <span class="text-info">{{ fight.total_payouts }}</span></small>
                  </div>
                  <base-button type="info" icon size="sm" @click="editFight(fight)" v-if="fight.status !== 'finish' && fight.status !== 'cancelled'">
                    <span class="btn-inner--icon"
                      ><i class="fas fa-edit"></i
                    ></span>
                    <span class="btn-inner--text">Edit Fight</span>
                  </base-button>
                  <base-button type="primary" icon size="sm" @click="manageFight(fight)" v-if="fight.status !== 'cancelled'">
                    <span class="btn-inner--icon"
                      ><i class="fas fa-edit"></i
                    ></span>
                    <span class="btn-inner--text">Manage Fight</span>
                  </base-button>
                </div>
              </div>
            </template>

            <div>
              <div class="col-12">
                <div class="row justify-content-md-center">
                  <div class="col-3 text-center">
                    <div v-if="fight.meron_picture" class="fight-image-container pbl" :style="'background-image:url('+ $baseUrl + fight.meron_picture +')'"></div>
                    <img v-else :src="'/img/placeholder.jpg'" class="argon-image mb-2" style="max-width: 155px;">
                  </div>
                  <div class="col-6">
                    <div class="row align-items-center">
                      <div class="col-5 text-right">{{ fight.meron_name }}</div>
                      <div class="col-2 text-center">
                        <img src="/img/vs.png" style="max-width: 55px;">
                      </div>
                      <div class="col-5">{{ fight.wala_name }}</div>
                    </div>

                    <div class="row mt-5">
                      <div class="col-4 text-left">
                        <h3 class="text-md text-danger"> 
                        {{ toMoney(fight.meron_total) }} <br/> 
                        <span class="text-sm">INILOG</span>
                        </h3>
                      </div>
                      <div class="col-4 text-center">
                        <h3 class="text-md text-green"> 
                        {{ toMoney(fight.total_bettings) }} <br/>
                        <span class="text-sm">TOTAL</span>
                        </h3>
                      </div>
                      <div class="col-4 text-right">
                        <h3 class="text-md text-primary"> 
                        {{ toMoney(fight.wala_total) }} <br/>
                        <span class="text-sm">BIYA</span>
                        </h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-3 text-center">
                    <div v-if="fight.wala_picture" class="fight-image-container pbl" :style="'background-image:url('+ $baseUrl + fight.wala_picture +')'"></div>
                    <img v-else :src="'/img/placeholder.jpg'" class="argon-image mb-2" style="max-width: 155px;">
                  </div>
                </div>
              </div>
            </div>

            
          </card>
        </template>

        <div class="row">
          <div class="col-md-12 d-flex justify-content-center justify-content-sm-between flex-wrap">
            <div class="">
              <p class="card-category">
                Showing {{ total ? from + 1 : 0 }} to {{ to }} of
                {{ total }} entries

                <span v-if="selectedRows.length">
                  &nbsp; &nbsp; {{ selectedRows.length }} rows selected
                </span>
              </p>
            </div>

            <base-pagination
              class="pagination-no-border"
              v-model="pagination.currentPage"
              :per-page="pagination.perPage"
              :total="total"
            />
          </div>
        </div>
      </template>

      <template v-if="!fights.length">
        <h3 class="text-center">No results.</h3>
      </template>
    </div>
  </div>
</template>
<script>
import { BasePagination } from "@/components/argon-core";
import {
  Table,
  TableColumn,
  DropdownMenu,
  DropdownItem,
  Dropdown,
  Tooltip,
  Select,
  Option,
  RadioButton,
  Button,
} from "element-ui";
import swal from "sweetalert2";
import "sweetalert2/dist/sweetalert2.css";
import { cloneDeep } from "lodash"

export default {
  layout: "DashboardLayout",
  middleware: "admin",

  components: {
    BasePagination,
    [Tooltip.name]: Tooltip,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    [Dropdown.name]: Dropdown,
    [DropdownItem.name]: DropdownItem,
    [DropdownMenu.name]: DropdownMenu,
    [Select.name]: Select,
    [Option.name]: Option,
    [Button.name]: Button,
  },

  data() {
    return {
      statuses: ['all', 'pending', 'on-going', 'open', 'close', 'cancelled', 'finish'],
      status_selected: 'all',
      tournament: {},
      fights: [],
      selectedRows: [],
      query: null,

      sort: "-created_at",

      pagination: {
        perPage: 10,
        currentPage: 1,
        perPageOptions: [5, 10, 25, 50],
      },

      total: 0,
      loading: true
    };
  },

  async fetch() {
    try {
      const id = this.$route.params.id;
      await this.$store.dispatch("tournaments/get", id);
      this.tournament = await cloneDeep(this.$store.getters["tournaments/tournament"]);

    } catch (error) {
      this.$notify({
        type: "danger",
        message: `Oops, something went wrong!`,
      });
    }
  },

  computed: {
    from() {
      return this.pagination.perPage * (this.pagination.currentPage - 1);
    },

    to() {
      let highBound = this.from + this.pagination.perPage;
      if (this.total < highBound) {
        highBound = this.total;
      }
      return highBound;
    },
  },

  watch: {
    status_selected: {
      handler: "getListDebounced",
      immediate: true,
    },
    query: {
      handler: "getListDebounced",
      immediate: true,
    },
    pagination: {
      handler: "getList",
      immediate: false,
      deep: true,
    },
  },

  mounted() {
    this.openConnection()
  },

  destroyed() {
    this.$echo.leave('fights');
  },

  methods: {
    openConnection() {
      let nuxtjs = this
      this.$echo.channel('fights')
      .listen('BroadcastFights', () => {
          nuxtjs.getList()
      });
    },

    getListDebounced: _.debounce(function () {
      this.getList();
    }, 300),

    goBack() {
      this.$router.push({ name: "tournaments" });
    },

    async getList() {
      let params = {
        ...(this.sort ? { sort: this.sort } : {}),
        filter: {
          ...({ tournament_id: this.$route.params.id }),
          ...( (this.status_selected !== 'all') ? { status: [this.status_selected] } : {})
        },
        page: {
          number: this.pagination.currentPage,
          size: this.pagination.perPage,
        },
        include: 'tournament'
      };

      await this.$store.dispatch("fights/list", params).then(() => {
        this.fights = this.$store.getters["fights/list"];
        this.total = this.$store.getters["fights/listTotal"];
      });
      this.loading = false;
    },

    addFight() {
      this.$router.push({
        name: "tournaments-fights-add-id",
        params: { id: this.$route.params.id },
      });
    },
    editFight(row) {
      this.$router.push({
        name: "tournaments-fights-edit-id",
        params: { id: row.id },
      });
    },
    manageFight(row) {
      this.$router.push({
        name: "tournaments-fights-manage-id",
        params: { id: row.id },
      });
    },
    sortChange({ prop, order }) {
      if (order === "descending") {
        this.sort = `-${prop}`;
      } else {
        this.sort = `${prop}`;
      }
      this.getList();
    },
    toMoney(number = 0) {
      return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },
  },
};
</script>
