.profile-image {
  height: 200px;
  width: 200px;
  margin-bottom: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.argon-image {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.sidebar-mini {
  text-transform: uppercase;
  width: 30px;
  margin-right: 15px;
  text-align: center;
  letter-spacing: 1px;
  position: relative;
  float: left;
  display: initial;
}

.avatar-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.el-button--text {
  color: #adb5bd;
}

.el-button--text:hover {
  color: #adb5bd;
}

.navbar-nav .btn-danger .nav-link {
  color: white;
}

.navbar-nav .btn-info .nav-link {
  color: white;
}

.navbar-nav .btn-dark .nav-link {
  color: white;
}

.navbar-nav .btn-dark .nav-link:hover {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
}

.navbar-nav .btn-danger .nav-link:hover {
  color: #fff;
}

.navbar-nav .btn-info .nav-link:hover {
  color: #fff;
}

.navbar-nav .nav-item.btn-danger .nav-link {
  padding: 0;
  padding-left: 0.5rem;
}
.navbar-nav .nav-item.btn-info .nav-link {
  padding: 0;
  padding-left: 0.5rem;
}
.navbar-nav .nav-item.btn-dark .nav-link {
  padding: 0;
  padding-left: 0.5rem;
}
.navbar-nav .nav-item.btn-neutral .nav-link {
  padding: 0;
  padding-left: 0.5rem;
}

.navbar-nav .btn-danger,
.btn-info,
.btn-dark,
.btn-warning,
.btn-danger,
.btn-neutral,
.btn-primary {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}

.navbar-nav .btn-neutral {
  color: #5e72e4;
}

.navbar-nav .btn-neutral:hover {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}

#pulse {
  animation: pulse 0.5s ease-in infinite;
  display: inline-block;
}

/* body {
  overscroll-behavior-y: contain;
} */

@keyframes pulse{
  25%  {transform: scale(0.9);}
  75%  {transform: scale(1.1);}
}

.tb-l .form-group {
  margin-bottom: 0 !important;
}

.fight-image-container {
  background-size: 100%;
  background-repeat: no-repeat;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-position: center;
  display: inline-block;
  height: 0;
  padding-bottom: 100%;
  width: 100%;
}

.fight-image-container.pbl {
  height: 155px;
  width: 155px !important;
  padding: 0;
}

.cb-comp label {
  font-size: 16px !important;
}

@media screen and (max-width: 600px) {
  .mobile-mini.el-table td, 
  .mobile-mini.el-table th {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }

  .profile-head-area {
    display: none;
  }
}
