<template>
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-xl-12 order-xl-1">
        <card>
          <div slot="header" class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Add Credit</h3>
            </div>
            <div class="col-4 text-right">
              <base-button
                v-if="isAdmin()"
                @click="goBack"
                type="button"
                class="btn btn-sm btn-primary"
                >Back to list</base-button
              >
            </div>
          </div>
          <div>
            <form ref="profile_form" @submit.prevent="handleSubmit">            

              <base-input label="User">
                <el-select
                  name="user"
                  v-model="user_selected"
                  prepend-icon="fas fa-user"
                  placeholder="Select User"
                  multiple
                  :multiple-limit="1"
                  filterable
                >
                  <el-option
                    v-for="user in available_users"
                    :key="user.id"
                    :value="user.id"
                    :label="user.name"
                  >
                  </el-option>
                </el-select>
              </base-input>
              <div v-if="user_selected" class="mt-2 mb-2">
                <label class="form-control-label">User total credits: <span class="text-purple">{{ user.credit }}</span></label>

                <div v-if="user.profile_image" class="profile-image card-img pb-4" style="width: auto;">
                  <img
                    :src="$baseUrl + user.profile_image"
                    class="profile-image argon-image"
                  />
                </div>
              </div>

              <base-input
                label="Amount"
                prepend-icon="fab fa-cc-mastercard"
                placeholder="Enter credit amount"
                v-model="credit_amount"
                type="number"
              />
              <validation-error :errors="apiValidationErrors.credit" />

              <div class="">
                <base-button outline type="primary" size="sm" class="mb-2" style="min-width: 50px;" @click="updateAmount(100)">100</base-button>
                <base-button outline type="primary" size="sm" class="mb-2" style="min-width: 50px;" @click="updateAmount(200)">200</base-button>
                <base-button outline type="primary" size="sm" class="mb-2" style="min-width: 50px;" @click="updateAmount(500)">500</base-button>
                <base-button outline type="primary" size="sm" class="mb-2" style="min-width: 50px;" @click="updateAmount(700)">700</base-button>
                <base-button outline type="primary" size="sm" class="mb-2" style="min-width: 50px;" @click="updateAmount(1000)">1000</base-button>
                <base-button outline type="primary" size="sm" class="mb-2" style="min-width: 50px;" @click="updateAmount(1500)">1500</base-button>
                <base-button outline type="primary" size="sm" class="mb-2" @click="updateAmount(2000)">2000</base-button>
              </div>

              <base-checkbox v-model="confirm" class="mt-3">
                I confirm I enter the exact amount.
              </base-checkbox>

              <div class="my-4">
                <base-button
                  type="button"
                  class="btn btn-primary"
                  native-type="submit"
                  :disabled="processing"
                >
                  Submit
                </base-button>
              </div>
            </form>
          </div>
        </card>
      </div>
    </div>
  </div>
</template>
<script>
import BaseInput from "~/components/argon-core/Inputs/BaseInput.vue";
import BaseButton from "~/components/argon-core/BaseButton.vue";
import ValidationError from "~/components/ValidationError.vue";
import { Select, Option } from "element-ui";
import formMixin from "@/mixins/form-mixin";
import { cloneDeep } from "lodash";

export default {
  layout: "DashboardLayout",
  middleware: "admin_creator",

  components: {
    BaseInput,
    BaseButton,
    ValidationError,
    [Select.name]: Select,
    [Option.name]: Option,
  },
  mixins: [formMixin],

  data() {
    return {
      users: [],
      available_users: [],
      user_selected: null,
      credit_amount: null,
      confirm: false,
      user: {
        type: "users",
        name: null,
        email: null,
        password: null,
        password_confirmation: null,
        profile_image: null,
        credit: null
        // relationshipNames: ["roles"],
        // roles: [
        //   {
        //     type: "roles",
        //     id: null,
        //   },
        // ],
      },
      processing: false
    };
  },

  async fetch() {
    try {
      let params = {
        filter: {
          ...{ roles: 'member' }
        },
      };
      await this.$store.dispatch("users/list", params);
      this.users = await cloneDeep(this.$store.getters["users/list"])
      this.available_users = await cloneDeep(this.$store.getters["users/dropdown"]);
    } catch (error) {
      this.$notify({
        type: "danger",
        message: `Oops, something went wrong!`,
      });
      this.setApiValidation(error.response.data.errors);
    }
  },

  watch: {
    user_selected() {
      let user = this.users.filter(item => {
        return this.user_selected == item.id
      })
      this.user = user.length ? user[0] : []
    },
  },

  methods: {
    goBack() {
      this.$router.push({ name: "users" });
    },

    removeImage() {
      this.image = null;
    },

    async handleSubmit() {
      try {

        if (!this.credit_amount || !this.user_selected) {
          this.$notify({
            type: "danger",
            message: "User and Credit amount are required.",
          });

          return
        }

        if ( parseFloat(this.credit_amount) < 100) {
          this.$notify({
            type: "danger",
            message: "Minimum amount is 100.",
          });
          return;
        }

        if (!this.confirm) {
          this.$notify({
            type: "danger",
            message: "You need to confirm that you enter the exact amount.",
          });

          return
        }
        this.processing = true
        this.user.amount = this.credit_amount

        await this.$store.dispatch("users/addCredit", this.user);
        this.$notify({
          type: "success",
          message: "Credit added successfully.",
        });
        this.processing = false
        this.user_selected = null
        this.credit_amount = null

      } catch (error) {
        this.processing = false
        this.$notify({
          type: "danger",
          message: "Oops, something went wrong!",
        });
        this.setApiValidation(error.response.data.errors);
      }
    },

    async onSelectFile(e) {
      let files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      this.createImage(files[0]);
    },

    updateAmount(amount) {
      this.credit_amount = amount
    },

    createImage(file) {
      let reader = new FileReader();
      reader.onload = (e) => {
        this.user.profile_image = e.target.result;
        this.image = file;
      };
      reader.readAsDataURL(file);
    },

    isAdmin() {
      let roles = this.$auth.user.roles.map(item => {
        return item.name
      })

      if(roles.includes('admin'))
        return true

      return false;
    },
  },
};
</script>
