<template>
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-xl-12 order-xl-1">
        <card>
          <div slot="header" class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Add User</h3>
            </div>
            <div class="col-4 text-right">
              <base-button
                v-if="isAdmin()"
                @click="goBack"
                type="button"
                class="btn btn-sm btn-primary"
                >Back to list</base-button
              >
            </div>
          </div>
          <div>
            <form ref="profile_form" @submit.prevent="handleSubmit">
              <div class="form-group">
                <label class="form-control-label"> Picture </label>
                <div v-if="image" class="profile-image card-img pb-4">
                  <img :src="`${image}`" class="profile-image argon-image" />
                </div>
                <div v-else class="profile-image">
                  <img src="/img/placeholder.jpg" class="argon-image" />
                </div>
                <div class="image-upload">
                  <base-button
                    v-if="image"
                    type="button"
                    class="btn btn-sm btn-danger"
                    @click="removeImage"
                  >
                    <span>
                      <i class="fa fa-times" />
                      Remove
                    </span>
                  </base-button>
                  <base-button type="button" class="btn btn-sm btn-primary">
                    <label v-if="!image" for="imageInput" class="mb-0"
                      >Select image</label
                    >
                    <label v-else for="imageInput" class="mb-0">Change</label>
                    <input
                      id="imageInput"
                      ref="imageInput"
                      accept="image/*"
                      type="file"
                      style="display: none"
                      @input="onSelectFile"
                    />
                  </base-button>
                </div>
              </div>
              <validation-error :errors="apiValidationErrors.attachment" />

              <base-input
                label="Name"
                prepend-icon="fas fa-user"
                placeholder="Your name"
                v-model="user.name"
              />
              <validation-error :errors="apiValidationErrors.name" />

              <base-input
                label="Email"
                prepend-icon="fas fa-envelope"
                placeholder="Email"
                v-model="user.email"
              />
              <validation-error :errors="apiValidationErrors.email" />

              <base-input label="Role" v-if="isAdmin()">
                <el-select
                  name="role"
                  v-model="user.roles[0].id"
                  prepend-icon="fas fa-user"
                >
                  <el-option
                    v-for="role in available_roles"
                    :key="role.id"
                    :value="role.id"
                    :label="role.name"
                  >
                  </el-option>
                </el-select>
              </base-input>
              <validation-error
                :errors="apiValidationErrors.roles"
              />

              <base-input
                v-model="user.password"
                type="password"
                name="new_password"
                class="mb-3"
                prepend-icon="fa fa-key"
                placeholder="New Password"
                label="Password"
              />
              <validation-error :errors="apiValidationErrors.password" />

              <base-input
                v-model="user.password_confirmation"
                type="password"
                name="confirm_password"
                autocomplete="on"
                class="mb-3"
                prepend-icon="fa fa-key"
                placeholder="Confirm Password"
                label="Confirm Password"
              />
              <validation-error
                :errors="apiValidationErrors.password_confirmation"
              />

              <base-input
                label="Credit"
                prepend-icon="fab fa-cc-mastercard"
                placeholder="Enter credit amount"
                v-model="user.credit"
              />
              <validation-error :errors="apiValidationErrors.credit" />

              <div class="text-left">
                <base-button outline type="primary" size="sm" class="mb-2" style="min-width: 50px;" @click="updateAmount(100)">100</base-button>
                <base-button outline type="primary" size="sm" class="mb-2" style="min-width: 50px;" @click="updateAmount(200)">200</base-button>
                <base-button outline type="primary" size="sm" class="mb-2" style="min-width: 50px;" @click="updateAmount(500)">500</base-button>
                <base-button outline type="primary" size="sm" class="mb-2" style="min-width: 50px;" @click="updateAmount(700)">700</base-button>
                <base-button outline type="primary" size="sm" class="mb-2" style="min-width: 50px;" @click="updateAmount(1000)">1000</base-button>
                <base-button outline type="primary" size="sm" class="mb-2" style="min-width: 50px;" @click="updateAmount(1500)">1500</base-button>
                <base-button outline type="primary" size="sm" class="mb-2" @click="updateAmount(2000)">2000</base-button>
              </div>

              <base-checkbox v-model="confirm" class="mt-3">
                I confirm I enter the exact amount.
              </base-checkbox>

              <div class="my-4">
                <base-button
                  type="button"
                  class="btn btn-primary"
                  native-type="submit"
                  :disabled="processing"
                >
                  Add User
                </base-button>
              </div>
            </form>
          </div>
        </card>
      </div>
    </div>
  </div>
</template>
<script>
import ValidationError from "~/components/ValidationError.vue";
import formMixin from "@/mixins/form-mixin";
import BaseInput from "~/components/argon-core/Inputs/BaseInput.vue";
import { Select, Option } from "element-ui";
import { cloneDeep } from "lodash";

export default {
  layout: "DashboardLayout",
  middleware: "admin_creator",

  components: {
    BaseInput,
    ValidationError,
    [Select.name]: Select,
    [Option.name]: Option,
  },
  mixins: [formMixin],

  data() {
    return {
      image: "",
      file: null,
      available_roles: [],
      role_member_id: null,
      confirm: false,
      user: {
        type: "users",
        name: null,
        email: null,
        password: null,
        password_confirmation: null,
        profile_image: null,
        relationshipNames: ["roles"],
        credit: null,
        roles: [
          {
            type: "roles",
            id: null,
          },
        ],
      },
      processing: false
    };
  },

  async fetch() {
    try {
      await this.$store.dispatch("roles/list").then(() => {
        this.available_roles = cloneDeep(this.$store.getters["roles/dropdown"]);
      });

      let member = this.available_roles.filter(item => {
        return item.name === 'member'
      })

      this.role_member_id = member[0].id

    } catch (error) {
      this.$notify({
        type: "danger",
        message: `Oops, something went wrong!`,
      });
      this.setApiValidation(error.response.data.errors);
    }
  },

  methods: {
    goBack() {
      if (this.isAdmin())
        this.$router.push({ name: "users" });
      else
        this.$router.push({ name: "users-add-credit" });
    },
    removeImage() {
      this.image = null;
    },

    async handleSubmit() {
      try {
        if (this.user.credit && !this.confirm) {
          this.$notify({
            type: "danger",
            message: "You need to confirm that you enter the exact amount.",
          });

          return
        }

        if (!this.user.name) {
          this.$notify({
            type: "danger",
            message: "Name is required.",
          });

          return
        }

        if (!this.file) {
          this.$notify({
            type: "danger",
            message: "User Image is required.",
          });

          return
        }

        this.processing = true
        delete this.user.id;

        this.user.credit = (this.user.credit) ? this.user.credit : 0

        if (!this.isAdmin()) {
          this.user.roles = [{type: "roles", id: this.role_member_id}]
        }

        if (!this.user.email) {
          let name_formatted = this.user.name.replace(/\s/g,'').toLowerCase()
          this.user.email = (this.user.email) ? this.user.email : name_formatted + '@sns.com'
        }

        if (!this.user.password && !this.user.password_confirmation) {
          this.user.password = '1234'
          this.user.password_confirmation = '1234'
        }

        await this.$store.dispatch("users/add", this.user);
        this.user = await cloneDeep(this.$store.getters["users/user"]);
        if (this.file) {
          await this.$store.dispatch("users/upload", {
            user: this.user,
            image: this.file,
            axios: this.$axios,
          });
          this.user.profile_image = await this.$store.getters["users/url"];

          await this.$store.dispatch("users/update", this.user);
          this.user = await this.$store.getters["users/user"];
        }
        this.processing = false
        this.$notify({
          type: "success",
          message: "User added successfully.",
        });
        this.goBack();
      } catch (error) {
        this.processing = false
        this.$notify({
          type: "danger",
          message: "Oops, something went wrong!",
        });

        this.setApiValidation(error.response.data.errors);
        if (this.user.id) {
          await this.$store.dispatch("users/destroy", this.user.id);
        }
      }
    },

    async onSelectFile(e) {
      let files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      this.createImage(files[0]);
    },

    createImage(file) {
      let reader = new FileReader();
      reader.onload = (e) => {
        this.image = e.target.result;
        this.file = file;
      };
      reader.readAsDataURL(file);
    },

    isAdmin() {
      let roles = this.$auth.user.roles.map(item => {
        return item.name
      })

      if(roles.includes('admin'))
        return true

      return false;
    },

    updateAmount(amount) {
      this.user.credit = amount
    }
  },
};
</script>
