<template>
  <div class="container-fluid mt-5">
    <div>
      <card
        class="no-border-card"
        body-classes="px-0 pb-1"
        footer-classes="pb-2"
      >
        <template slot="header">
          <div class="row">
            <div class="col-6">
              <h3 class="mb-0">Users List</h3>
            </div>
            <div class="col-6 text-right">
              <base-button type="primary" icon size="sm" @click="addUser()">
                <span class="btn-inner--icon"
                  ><i class="fas fa-user-edit"></i
                ></span>
                <span class="btn-inner--text">Add User</span>
              </base-button>
              <base-button type="info" icon size="sm" @click="addCreditPage()">
                <span class="btn-inner--icon"
                  ><i class="fas fa-edit"></i
                ></span>
                <span class="btn-inner--text">Add Credit</span>
              </base-button>
              <base-button type="warning" icon size="sm" @click="payout()">
                <span class="btn-inner--icon"
                  ><i class="fas fa-money-bill-wave"></i
                ></span>
                <span class="btn-inner--text">User Payout</span>
              </base-button>
            </div>
          </div>
        </template>
        <div>
          <div
            class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
          >
            <el-select
              class="select-primary pagination-select"
              v-model="pagination.perPage"
              placeholder="Per page"
            >
              <el-option
                class="select-primary"
                v-for="item in pagination.perPageOptions"
                :key="item"
                :label="item"
                :value="item"
              >
              </el-option>
            </el-select>

            <div class="row">
              <div class="col-md-6">
                <base-input>
                  <el-select
                    name="role"
                    v-model="role"
                    prepend-icon="fas fa-user"
                    clearable
                  >
                    <el-option
                      v-for="role in available_roles"
                      :key="role.id"
                      :value="role.id"
                      :label="role.name"
                    >
                    </el-option>
                  </el-select>
                </base-input>
              </div>
              <div class="col-md-6">
                <base-input
                  v-model="query"
                  type="search"
                  prepend-icon="fas fa-search"
                  placeholder="Search..."
                  clearable
                />
              </div>
            </div>
          </div>
          <el-table
            class="table-responsive align-items-center table-flush"
            header-row-class-name="thead-light"
            :data="users"
            @sort-change="sortChange"
          >
            <div slot="empty" v-if="loading">
              <img src="/img/loading.gif" style="height: 100px; width: 100px" />
            </div>
            <el-table-column label="Author" min-width="50px">
              <template v-slot="{ row }">
                <img
                  v-if="row.profile_image"
                  :src="$baseUrl + row.profile_image"
                  class="avatar rounded-circle mr-3"
                />
              </template>
            </el-table-column>

            <el-table-column
              label="Name"
              min-width="60px"
              prop="name"
              sortable="custom"
            />
            <el-table-column
              label="Email"
              min-width="90px"
              prop="email"
              sortable="custom"
            />
            <el-table-column
              label="Credit Points"
              min-width="90px"
              prop="credit"
            />
            <el-table-column
              label="Role"
              min-width="60px"
              prop="roles.name"
            >
              <template v-slot="{ row }">
                <span v-if="row.roles[0].name == 'creator'">cashier</span>
                <span v-if="row.roles[0].name == 'mashador'">station</span>
                <span v-if="row.roles[0].name != 'creator' && row.roles[0].name != 'mashador'">{{ row.roles[0].name }}</span>
              </template>
            </el-table-column>
            
            <el-table-column min-width="50px" align="right">
              <div slot-scope="{ row }" class="table-actions">
                <el-tooltip content="Add Revolving Fund" placement="top" v-if="row.roles[0].name == 'mashador'">
                  <a
                    type="text"
                    @click="openRevolvingFundModal(row)"
                    class="table-action  text-lg"
                    data-toggle="tooltip"
                    style="cursor: pointer"
                  >
                    <i class="fas fa-coins"></i>
                  </a>
                </el-tooltip>
                <el-tooltip :content="(row.roles[0].name == 'creator') ? 'Add Revolving Fund' : 'Add Credit'" placement="top">
                  <a
                    type="text"
                    @click="openCashInModal(row)"
                    class="table-action  text-lg"
                    data-toggle="tooltip"
                    style="cursor: pointer"
                  >
                    <i class="fas fa-coins" v-if="row.roles[0].name == 'creator'"></i>
                    <i class="fas fa-donate" v-else></i>
                  </a>
                </el-tooltip>
                <el-tooltip content="Edit" placement="top">
                  <a
                    type="text"
                    @click="editUser(row)"
                    class="table-action  text-lg"
                    data-toggle="tooltip"
                    style="cursor: pointer"
                  >
                    <i class="fas fa-user-edit"></i>
                  </a>
                </el-tooltip>

                <el-tooltip content="Delete" placement="top">
                  <a
                    type="text"
                    @click="deleteUser(row.id)"
                    class="table-action table-action-delete  text-lg"
                    data-toggle="tooltip"
                    style="cursor: pointer"
                  >
                    <i class="fas fa-trash"></i>
                  </a>
                </el-tooltip>
              </div>
            </el-table-column>
          </el-table>
        </div>
        <div
          slot="footer"
          class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
        >
          <div class="">
            <p class="card-category">
              Showing {{ total ? from + 1 : 0 }} to {{ to }} of
              {{ total }} entries

              <span v-if="selectedRows.length">
                &nbsp; &nbsp; {{ selectedRows.length }} rows selected
              </span>
            </p>
          </div>
          <base-pagination
            class="pagination-no-border"
            v-model="pagination.currentPage"
            :per-page="pagination.perPage"
            :total="total"
          />
        </div>
      </card>

      <!--Form modal-->
      <modal :show.sync="modals.cash_in" size="sm" body-classes="p-0">
        <card
          type="secondary"
          header-classes="bg-transparent pb-5"
          body-classes="px-lg-5 py-lg-5"
          class="border-0 mb-0"
        >
          <div class="card-header bg-transparent">
            <div class="text-muted text-center mt-2 mb-3">
              <h2 class="text-purple">{{ (modal_cash_in.user_selected.roles && modal_cash_in.user_selected.roles[0].name == 'creator') ? 'Add Revolving Fund' : 'Add Credit' }}  </h2>
            </div>
            <div class="btn-wrapper text-center">
              <span>Credit will be added to {{ modal_cash_in.user_selected ? modal_cash_in.user_selected.name : ''}} </span></br>
            </div>
          </div>

          <template>
            <form role="form" class="mt-4">

              <small class="text-danger" v-if="modal_cash_in.error">{{modal_cash_in.error}}</small>
              <base-input
                alternative
                v-model="modal_cash_in.amount"
                class="mb-3 mt-2"
                placeholder="Enter Amount"
                prepend-icon="ni ni-money-coins"
                clearable
                type="number"
              >
              </base-input>
              
              <div class="text-center">
                <base-button outline type="primary" size="sm" class="mb-2" style="min-width: 50px;" @click="updateCashInAmount(100)">100</base-button>
                <base-button outline type="primary" size="sm" class="mb-2" style="min-width: 50px;" @click="updateCashInAmount(200)">200</base-button>
                <base-button outline type="primary" size="sm" class="mb-2" style="min-width: 50px;" @click="updateCashInAmount(500)">500</base-button>
                <base-button outline type="primary" size="sm" class="mb-2" style="min-width: 50px;" @click="updateCashInAmount(700)">700</base-button>
                <base-button outline type="primary" size="sm" class="mb-2" style="min-width: 50px;" @click="updateCashInAmount(1000)">1000</base-button>
                <base-button outline type="primary" size="sm" class="mb-2" style="min-width: 50px;" @click="updateCashInAmount(1500)">1500</base-button>
                <base-button outline type="primary" size="sm" class="mb-2" @click="updateCashInAmount(2000)">2000</base-button>
              </div>
              
              
              <base-checkbox v-model="modal_cash_in.confirm" class="mt-3">
                I confirm I added exact amount.
              </base-checkbox>
              <div class="text-center">
                <base-button type="primary" class="my-4" @click.prevent="addCredit()"
                  >
                  Submit
                  </base-button
                >
              </div>
            </form>
          </template>
        </card>
      </modal>

      <!--Revolving Fund modal-->
      <modal :show.sync="modals.rfund" size="sm" body-classes="p-0">
        <card
          type="secondary"
          header-classes="bg-transparent pb-5"
          body-classes="px-lg-5 py-lg-5"
          class="border-0 mb-0"
        >
          <div class="card-header bg-transparent">
            <div class="text-muted text-center mt-2 mb-3">
              <h2 class="text-purple">Add Revolving Fund</h2>
            </div>
            <div class="btn-wrapper text-center">
              <span>Fund will be added to {{ modal_rfund.user_selected ? modal_rfund.user_selected.name : ''}} </span></br>
            </div>
          </div>

          <template>
            <form role="form" class="mt-4">

              <base-input
                alternative
                v-model="modal_rfund.amount"
                class="mb-3 mt-2"
                placeholder="Enter Amount"
                prepend-icon="ni ni-money-coins"
                clearable
                type="number"
              >
              </base-input>

              <base-input>
                <el-select
                  name="tournament"
                  v-model="modal_rfund.tournament"
                  prepend-icon="fas fa-user"
                  placeholder="Filter Tournaments"
                  clearable
                >
                  <el-option
                    v-for="tournament in tournaments"
                    :key="tournament.id"
                    :value="tournament.id"
                    :label="tournament.name"
                  >
                  </el-option>
                </el-select>
              </base-input>
              
              <small class="text-danger" v-if="modal_rfund.error">{{modal_rfund.error}}</small>
              
              <base-checkbox v-model="modal_rfund.confirm" class="mt-3">
                I confirm I added exact amount.
              </base-checkbox>
              <div class="text-center">
                <base-button type="primary" class="my-4" @click.prevent="addRevolvingFund()"
                  >
                  Submit
                  </base-button
                >
              </div>
            </form>
          </template>
        </card>
      </modal>

    </div>
  </div>
</template>
<script>
import { BasePagination } from "@/components/argon-core";
import {
  Table,
  TableColumn,
  DropdownMenu,
  DropdownItem,
  Dropdown,
  Tooltip,
  Select,
  Option,
  Button,
} from "element-ui";
import swal from "sweetalert2";
import "sweetalert2/dist/sweetalert2.css";
import { Modal, BaseAlert } from "@/components/argon-core";
import { cloneDeep } from "lodash";

export default {
  layout: "DashboardLayout",
  middleware: "admin_creator",

  components: {
    BasePagination,
    [Tooltip.name]: Tooltip,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    [Dropdown.name]: Dropdown,
    [DropdownItem.name]: DropdownItem,
    [DropdownMenu.name]: DropdownMenu,
    [Select.name]: Select,
    [Option.name]: Option,
    [Button.name]: Button,
  },

  async fetch() {
    try {
      let params = {
        ... { sort: '-created_at' },
      }
      await this.$store.dispatch("tournaments/list", params)
      this.tournaments = cloneDeep(this.$store.getters["tournaments/dropdown"]);

      await this.$store.dispatch("roles/list").then(() => {
        let roles_found = cloneDeep(this.$store.getters["roles/dropdown"]);

        this.available_roles = roles_found.map(item => {

          if ( item.name == 'creator') {
            return {
              id: item.name,
              name: 'cashier'
            }
          }

          if ( item.name == 'mashador') {
            return {
              id: item.name,
              name: 'station'
            }
          }

          return {
            id: item.name,
            name: item.name
          }
        })

      });
    } catch (error) {
      this.$notify({
        type: "danger",
        message: `Oops, something went wrong!`,
      });
      this.setApiValidation(error.response.data.errors);
    }
  },

  data() {
    return {
      query: null,
      selectedRows: [],
      sort: "created_at",
      total: 0,
      pagination: {
        perPage: 50,
        currentPage: 1,
        perPageOptions: [5, 10, 25, 50],
      },

      users: [],
      loading: true,
      modals: {
        cash_in: false,
        rfund: false,
      },
      modal_cash_in: {
        user_selected: {},
        amount: "",
        error: "",
        confirm: false
      },
      modal_rfund: {
        tournament: null,
        user_selected: {},
        amount: "",
        error: "",
        confirm: false
      },
      available_roles: [],
      tournaments: [],
      role: null
    };
  },
  computed: {
    from() {
      return this.pagination.perPage * (this.pagination.currentPage - 1);
    },

    to() {
      let highBound = this.from + this.pagination.perPage;
      if (this.total < highBound) {
        highBound = this.total;
      }
      return highBound;
    },
  },
  watch: {
    query: {
      handler: "getListDebounced",
      immediate: true,
    },
    role() {
      this.$router.push({
        name: "users",
        replace: true,
        query: {
          role: this.role
        }
      });

      this.getList()
    },
    pagination: {
      handler: "getList",
      immediate: false,
      deep: true,
    },
  },

  methods: {
    getListDebounced: _.debounce(function () {
      if (this.$route.query && this.$route.query.role) {
        this.role = this.$route.query.role
      }
      this.getList();
    }, 300),

    async getList() {
      try {
        let params = {
          ...(this.sort ? { sort: this.sort } : {}),
          filter: {
            ...(this.query ? { name: this.query } : {}),
            ...(this.role ? { roles: this.role } : {}),
          },
          page: {
            number: this.pagination.currentPage,
            size: this.pagination.perPage,
          },
          include: "roles",
        };

        await this.$store.dispatch("users/list", params);
        this.users = this.$store.getters["users/list"];
        this.total = this.$store.getters["users/listTotal"];
        this.loading = false;
      } catch (error) {
        this.$notify({
          type: "danger",
          message: "Oops, something went wrong!",
        });
      }
    },

    async deleteUser(id) {
      if (this.$isDemo && ["1", "2", "3"].includes(id)) {
        this.$notify({
          type: "danger",
          message: "You are not allowed not change data of default users.",
        });
        return;
      }
      const confirmation = await swal.fire({
        title: `Delete this user?`,
        type: "question",
        buttonsStyling: false,
        showCancelButton: true,
        confirmButtonText: "Yes, delete it!",
        cancelButtonText: "No, keep it",
        confirmButtonClass: "btn btn-primary",
        cancelButtonClass: "btn btn-warning",
      });

      try {
        if (confirmation.value === true) {
          await this.$store.dispatch("users/destroy", id);
          await this.getList();
          this.$notify({
            type: "success",
            message: "User deleted successfully.",
          });
        }
      } catch (error) {
        this.$notify({
          type: "danger",
          message: "Oops, something went wrong!",
        });
      }
    },
    addUser() {
      this.$router.push({ name: "users-add" });
    },
    editUser(row) {
      this.$router.push({
        name: "users-edit-id",
        params: { id: row.id },
      });
    },
    sortChange({ prop, order }) {
      if (order === "descending") {
        this.sort = `-${prop}`;
      } else {
        this.sort = `${prop}`;
      }
      this.getList();
    },

    openCashInModal(user) {
      this.modal_cash_in.user_selected = user
      this.modals.cash_in = true
    },

    updateCashInAmount(amount = 0) {
      this.modal_cash_in.amount = amount
    },

    openRevolvingFundModal(user) {
      this.modal_rfund.user_selected = user
      this.modals.rfund = true
    },

    addCreditPage() {
      this.$router.push({ name: "users-add-credit" });
    },

    payout() {
      this.$router.push({ name: "users-payout" });
    },

    async addCredit() {
      if ( parseFloat(this.modal_cash_in.amount) < 100) {
        this.modal_cash_in.error = 'Minimum amount is 100.'
        return;
      }

       if (!this.modal_cash_in.confirm) {
        this.$notify({
          type: "danger",
          message: "You need to confirm that you enter the exact amount.",
        });

        return
      }


      let params = {
        type: 'users',
        id: this.modal_cash_in.user_selected.id,
        amount: this.modal_cash_in.amount
      }

      await this.$store.dispatch("users/addCredit", params);

      this.$notify({
        type: "success",
        message: "User credit successfully added.",
      });

      this.modal_cash_in = {
        user_selected: {},
        amount: "",
        error: "",
        confirm: false
      }
      this.modals.cash_in = false

      this.getList()
    },

    async addRevolvingFund() {
      if (!this.modal_rfund.amount || !this.modal_rfund.tournament) {
        this.modal_rfund.error = 'All fields are required.'
        return;
      }

       if (!this.modal_rfund.confirm) {
        this.$notify({
          type: "danger",
          message: "You need to confirm that you enter the exact amount.",
        });

        return
      }

      try {
        let params = {
          type: 'users',
          id: this.modal_rfund.user_selected.id,
          amount: this.modal_rfund.amount,
          tournament_id: this.modal_rfund.tournament,
        }

        await this.$store.dispatch("users/addRevolvingFund", params);

        this.$notify({
          type: "success",
          message: "Revolving fund successfully added",
        });

        this.modal_rfund = {
          tournament: null,
          user_selected: {},
          amount: "",
          error: "",
          confirm: false
        }
        this.modals.rfund = false

      } catch (error) {
        this.$notify({
          type: "danger",
          message: "Oops, something went wrong!",
        });
      }
    }
  },
};
</script>
