<template>
  <div class="wrapper">
    <notifications></notifications>
    <side-bar>
      <template slot-scope="props" slot="links">
        <sidebar-item
           v-if="roles.includes('admin')"
          :link="{
            name: 'Tournaments',
            icon: 'fa fa-chess text-orange',
            path: '/tournaments',
          }"
        >
        </sidebar-item>

        <sidebar-item
           v-if="roles.includes('admin')"
          :link="{
            name: 'Active Match',
            icon: 'fa fa-dice text-red',
            path: '/match-display',
          }"
        >
        </sidebar-item>

        <sidebar-item
          v-if="roles.includes('member')"
          :link="{
            name: 'Betting',
            icon: 'fa fa-dice text-orange',
            path: '/matches',
          }"
        >
        </sidebar-item>
        <sidebar-item
          v-if="roles.includes('member')"
          :link="{
            name: 'Betting History',
            icon: 'fa fa-history text-green',
            path: '/betting-history',
          }"
        >
        </sidebar-item>

        <sidebar-item
          v-if="roles.includes('mashador')"
          :link="{
            name: 'Betting',
            icon: 'fa fa-dice text-orange',
            path: '/station-matches',
          }"
        >
        </sidebar-item>
        <sidebar-item
          v-if="roles.includes('mashador')"
          :link="{
            name: 'Betting History',
            icon: 'fa fa-history text-green',
            path: '/station-betting-history',
          }"
        >
        </sidebar-item>

        <sidebar-item
           v-if="roles.includes('admin')"
          :link="{
            name: 'Users',
            icon: 'fa fa-users text-info',
            path: '/users',
          }"
        >
        </sidebar-item>
        <sidebar-item
           v-if="roles.includes('admin') || roles.includes('creator')"
          :link="{
            name: 'Add Credit',
            icon: 'fa fa-wallet text-green',
            path: '/users/add-credit',
          }"
        >
        </sidebar-item>
        <sidebar-item
           v-if="roles.includes('admin') || roles.includes('creator')"
          :link="{
            name: 'Cash Out',
            icon: 'fas fa-money-bill-wave text-warning',
            path: '/users/payout',
          }"
        >
        </sidebar-item>
        <sidebar-item
           v-if="roles.includes('creator')"
          :link="{
            name: 'Add User',
            icon: 'fa fa-user-plus text-info',
            path: '/users/add',
          }"
        >
        </sidebar-item>
        <sidebar-item
           v-if="roles.includes('mashador') || roles.includes('creator')"
          :link="{
            name: 'Transfer Credit',
            icon: 'fas fa-exchange-alt text-red',
            path: '/users/transfer-credit',
          }"
        >
        </sidebar-item>
        <sidebar-item
           v-if="roles.includes('admin')"
          :link="{
            name: 'Stations Income',
            icon: 'fa fa-piggy-bank text-blue',
            path: '/stations-income',
          }"
        >
        </sidebar-item>
        <sidebar-item
           v-if="roles.includes('admin')"
          :link="{
            name: 'Cashiers Income',
            icon: 'fa fa-cash-register text-orange',
            path: '/cashiers-income',
          }"
        >
        </sidebar-item>
        <sidebar-item
           v-if="roles.includes('admin')"
          :link="{
            name: 'Credit History',
            icon: 'fas fa-history text-red',
            path: '/credit-history',
          }"
        >
        </sidebar-item>
        <sidebar-item
           v-if="roles.includes('creator')"
          :link="{
            name: 'Credit History',
            icon: 'fas fa-history text-red',
            path: '/cashier-credit-history',
          }"
        >
        </sidebar-item>
      </template>
    </side-bar>
    <div class="main-content">
      <dashboard-navbar
        :type="$route.name === 'alternative' ? 'light' : 'default'"
      ></dashboard-navbar>

      <div @click="$sidebar.displaySidebar(false)">
        <nuxt></nuxt>
      </div>
      <content-footer v-if="!$route.meta.hideFooter"></content-footer>
    </div>
  </div>
</template>
<script>
/* eslint-disable no-new */
import PerfectScrollbar from "perfect-scrollbar";
import "perfect-scrollbar/css/perfect-scrollbar.css";

function hasElement(className) {
  return document.getElementsByClassName(className).length > 0;
}

function initScrollbar(className) {
  if (hasElement(className)) {
    new PerfectScrollbar(`.${className}`);
  } else {
    // try to init it later in case this component is loaded async
    setTimeout(() => {
      initScrollbar(className);
    }, 100);
  }
}

import DashboardNavbar from "~/components/layouts/argon/DashboardNavbar.vue";
import ContentFooter from "~/components/layouts/argon/ContentFooter.vue";
import DashboardContent from "~/components/layouts/argon/Content.vue";
import Vuex from "vuex";

export default {
  components: {
    DashboardNavbar,
    ContentFooter,
    DashboardContent,
  },
  data() {
    return {
      roles: [],
    };
  },
  methods: {
    initScrollbar() {
      let isWindows = navigator.platform.startsWith("Win");
      if (isWindows) {
        initScrollbar("scrollbar-inner");
      }
    },
  },
  mounted() {
    this.initScrollbar(), this.$store.dispatch("profile/me");
  },
  computed: {
    ...Vuex.mapState({
      me: (state) => state.profile.me,
    }),
  },
  watch: {
    me: {
      handler: function (val) {
        this.roles = val.roles.map((r) => r.name);
      },
      deep: true,
    },
    sidebarMini() {
      this.minimizeSidebar();
    },
  },
};
</script>
<style lang="scss">
body.g-sidenav-hidden {
  #purchase-button,
  #demo-button,
  #star-button,
  #docs-button {
    margin-left: 8px;
    margin-right: 8px;
    padding: 11px 0px;
  }
}
body.g-sidenav-show {
  #purchase-button,
  #demo-button,
  #star-button,
  #docs-button {
    margin-left: 20px;
    margin-right: 20px;
    padding: 11px 0px;
  }
}
</style>
