<template>
  <footer class="footer px-4 mx-2">
    <base-button size="lg" v-if="isPlayAvailable" @click="goToBettings()" type="danger" class="mb-0" style="position: fixed;bottom: 30px;right: 8px;">
      <span class="btn-inner--icon">
        <i class="fas fa-dice"></i>
      </span>
      <span class="btn-inner--text ml-1">Play</span>
    </base-button>
  </footer>
</template>
<script>
export default {
  data() {
    return {
      year: new Date().getFullYear(),
      isPlayAvailable: true
    };
  },

  created () {
    this.routeChanges()
  },

   watch: {
    $route (to, from){
        this.routeChanges()
    }
  },

  methods: {
    routeChanges() {
      let roles = this.$auth.user.roles.map(item => {
        return item.name
      })

      let member_routes = ['/matches', '/matches/']
      let mashador_routes = ['/station-matches', '/station-matches/']

      if (roles.includes('member') && !member_routes.includes(this.$router.currentRoute.fullPath)) {
        this.isPlayAvailable = true
      } else if (roles.includes('mashador') && !mashador_routes.includes(this.$router.currentRoute.fullPath)){
        this.isPlayAvailable = true
      } else {
        this.isPlayAvailable = false
      }

      
    },

    goToBettings() {
       let roles = this.$auth.user.roles.map(item => {
          return item.name
        })

        if (roles.includes('member')) {
          this.$router.push({
            name: "matches"
          });

        } else if (roles.includes('mashador')){
          this.$router.push({
            name: "station-matches"
          });
        }
    }
  }
};
</script>
<style></style>
