<template>
  <base-nav
    container-classes="container-fluid"
    class="navbar-top border-bottom navbar-expand"
    :class="{ 'bg-success navbar-dark': type === 'default' }"
  >
    <!-- Navbar links -->
    <ul class="navbar-nav align-items-center ml-md-auto">
      <base-dropdown
        class="nav-item"
        tag="li"
        title-classes="nav-link"
        title-tag="a"
        icon="ni ni-bell-55"
        menu-classes="dropdown-menu-xl dropdown-menu-right py-0 overflow-hidden"
      >
        <a href="#" class="nav-link pr-0" @click.prevent slot="title-container">
          <div class="media align-items-center">
            <i class="fab fa-cc-mastercard text-white text-xl"></i>
            <div class="media-body ml-2">
              <span class="mb-0 text-sm font-weight-bold">{{totalCredit}}</span>
            </div>
          </div>
        </a>
      </base-dropdown>
    </ul>
    <ul class="navbar-nav align-items-center ml-auto ml-md-0">
      <base-dropdown
        menu-on-right
        class="nav-item"
        tag="li"
        title-tag="a"
        title-classes="nav-link pr-0"
      >
        <a href="#" class="nav-link pr-0" @click.prevent slot="title-container">
          <div class="media align-items-center">
            <span
              class="avatar avatar-sm rounded-circle avatar-image"
              :style="{
                'background-image': `url('${profileImage}')`,
              }"
            >
            </span>
            <div class="media-body ml-2" v-if="!rolesAvailable.includes('member')">
              <span class="mb-0 text-sm font-weight-bold">{{ title }}</span>
            </div>
          </div>
        </a>

        <template>
          <div class="dropdown-header noti-title">
            <h6 class="text-overflow m-0">Welcome!</h6>
          </div>
          <div class="dropdown-divider"></div>
          <a @click.prevent="refreshAccount()" to="" class="dropdown-item">
            <i class="fa fa-sync"></i>
            <span>Refresh Account</span>
          </a>
          <nuxt-link
            :to="'/user-profile'"
            class="dropdown-item"
          >
            <i class="ni ni-single-02"></i>
            <span>My profile</span>
          </nuxt-link>
          <a @click.prevent="logout()" to="" class="dropdown-item">
            <i class="ni ni-user-run"></i>
            <span>Logout</span>
          </a>
        </template>
      </base-dropdown>
      <li class="nav-item d-xl-none ml-3">
        <!-- Sidenav toggler -->
        <div
          class="pr-3 sidenav-toggler"
          :class="{
            active: $sidebar.showSidebar,
            'sidenav-toggler-dark': type === 'default',
            'sidenav-toggler-light': type === 'light',
          }"
          @click="toggleSidebar"
        >
          <div class="sidenav-toggler-inner">
            <i class="sidenav-toggler-line"></i>
            <i class="sidenav-toggler-line"></i>
            <i class="sidenav-toggler-line"></i>
          </div>
        </div>
      </li>
    </ul>
  </base-nav>
</template>
<script>
import { CollapseTransition } from "vue2-transitions";
import BaseNav from "@/components/argon-core/Navbar/BaseNav.vue";
import Modal from "@/components/argon-core/Modal.vue";
import { pick, merge, cloneDeep } from "lodash";
import Jsona from "jsona";

const jsona = new Jsona();

export default {
  components: {
    CollapseTransition,
    BaseNav,
    Modal,
  },
  props: {
    type: {
      type: String,
      default: "default", // default|light
      description:
        "Look of the dashboard navbar. Default (Green) or light (gray)",
    },
  },
  async created() {
    this.$store.watch(
      () => this.$store.getters["profile/me"],
      (me) => {
        this.title = me.name;
        this.avatar = me.profile_image;
        this.user_id = me.id;
        this.credit = me.credit
      }
    );
    
    this.$store.watch(
      () => this.$store.getters["profile/credit"],
      (credit) => {
        this.credit = credit
      }
    );

    await this.$store.dispatch("profile/me");
  },

  mounted() {
    this.openConnection()
  },

  async destroyed() {
    let profile_user = await this.$store.getters["profile/me"]
    // this.$echo.leave('users-updated-' + profile_user.id)
  },

  computed: {
    routeName() {
      const { name } = this.$route;
      return this.capitalizeFirstLetter(name);
    },
    profileImage() {
      return this.avatar ? this.$baseUrl + this.avatar : "/img/placeholder.jpg";
    },
    totalCredit() {
      let credit = this.credit

      return (credit) ? credit.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") : 0;
    },
    rolesAvailable() {
      let roles = (this.$auth.user) ? this.$auth.user.roles.map(item => { return item.name }) : []

      return roles
    }
  },
  data() {
    return {
      activeNotifications: false,
      showMenu: false,
      searchModalVisible: false,
      searchQuery: "",
      title: "Profile",
      avatar: null,
      credit: 0,
      user_id: '',
      me_as_user: null
    };
  },
  methods: {
    async openConnection() {
      this.$echo.channel('users-updated-' + this.$auth.user.id)
      .listen('UserUpdated', async (e) => {
        await this.$store.dispatch("profile/setCredit", e.user.credit);
      });
    },
    capitalizeFirstLetter(string) {
      return string.charAt(0).toUpperCase() + string.slice(1);
    },
    toggleNotificationDropDown() {
      this.activeNotifications = !this.activeNotifications;
    },
    closeDropDown() {
      this.activeNotifications = false;
    },
    toggleSidebar() {
      this.$sidebar.displaySidebar(!this.$sidebar.showSidebar);
    },
    hideSidebar() {
      this.$sidebar.displaySidebar(false);
    },
    async refreshAccount() {
      this.$echo.leave('users-updated-' + this.$auth.user.id)
      await this.$store.dispatch("profile/me");
      this.openConnection()
    },
    async logout() {
      try {
        await this.$auth.logout();
      } catch (error) {
        this.$toast.error(error.response.message);
      }
    },
  },
};
</script>
