<template>
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-xl-12 order-xl-1">
        <card>
          <div slot="header" class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Edit Tournament</h3>
            </div>
            <div class="col-4 text-right">
              <base-button
                @click="goBack"
                type="button"
                class="btn btn-sm btn-primary"
                >Back to list</base-button
              >
            </div>
          </div>
          <div>
            <form ref="category_form" @submit.prevent="handleSubmit">
              <div class="row">
                <div class="col-6">
                  <base-input
                    label="Title"
                    v-model="tournament.title"
                  />
                  <validation-error :errors="apiValidationErrors.title" />
                </div>
                <div class="col-6">
                  <base-input label="Date">
                    <flat-picker
                      slot-scope="{ focus, blur }"
                      @on-open="focus"
                      @on-close="blur"
                      :config="{ allowInput: true }"
                      class="form-control datepicker"
                      v-model="tournament.start_date"
                    >
                    </flat-picker>
                  </base-input>
                  <validation-error :errors="apiValidationErrors.start_date" />
                </div>
              </div>

              <div class="row">
                <div class="col-6">
                  <base-input
                    label="Tong Percentage"
                    v-model="tournament.tong_percentage"
                  />
                  <validation-error :errors="apiValidationErrors.tong_percentage" />
                </div>
                <div class="col-6">
                  <base-input
                    label="Match Timer (in minutes)"
                    v-model="tournament.timer"
                  />
                  <validation-error :errors="apiValidationErrors.timer" />
                </div>
              </div>
              
              <base-input label="Description"
              >
                <textarea
                  class="form-control"
                  id="exampleFormControlTextarea1"
                  v-model="tournament.description"
                  rows="3"
                ></textarea>
              </base-input>
              <div class="my-4">
                <base-button
                  type="button"
                  class="btn btn-md btn-primary"
                  native-type="submit"
                >
                  Submit
                </base-button>
              </div>
            </form>
          </div>
        </card>
      </div>
    </div>
  </div>
</template>
<script>
import formMixin from "@/mixins/form-mixin";
import "flatpickr/dist/flatpickr.css";
import ValidationError from "~/components/ValidationError.vue";
import flatPicker from "vue-flatpickr-component";
import { cloneDeep } from "lodash";

export default {
  layout: "DashboardLayout",
  middleware: "admin",

  mixins: [formMixin],

  components: {
    ValidationError,
    flatPicker
  },

  data() {
    return {
      tournament: {
        type: "tournaments",
        title: null,
        tong_percentage: 15,
        timer: 15,
        start_date: null,
        description: null,
      },
    };
  },

  async fetch() {
    try {
      const id = this.$route.params.id;
      await this.$store.dispatch("tournaments/get", id);
      this.tournament = await cloneDeep(this.$store.getters["tournaments/tournament"]);

    } catch (error) {
      this.$notify({
        type: "danger",
        message: `Oops, something went wrong!`,
      });
      this.setApiValidation(error.response.data.errors);
    }
  },

  methods: {
    goBack() {
      this.$router.push('/tournaments');
    },

    async handleSubmit() {
      try {
        await this.$store.dispatch("tournaments/update", this.tournament);

        this.$notify({
          type: "success",
          message: "Category added successfully.",
        });
        this.goBack();
      } catch (error) {
        this.$notify({
          type: "danger",
          message: "Oops, something went wrong!",
        });
        this.setApiValidation(error.response.data.errors);
      }
    },
  },
};
</script>
