<template>
  <div class="container-fluid mt-5">
    <div>
      <card
        class="no-border-card"
        body-classes="px-0 pb-1"
        footer-classes="pb-2"
      >
        <template slot="header">
          <div class="row">
            <div class="col-6">
              <h3 class="mb-0">Betting History</h3>
            </div>
          </div>
          <div class="row">
            <!--<div class="col-6">
              <h5 class="mb-0">
                <span class="text-danger">Unclaimed:<br/>{{ unclaimed_total }}</span>
              </h5>
            </div>
            <div class="col-6 text-right">
              <h5 class="mb-0">
                <span class="text-primary">Income:<br/>{{ bets_total }}</span>
              </h5>
            </div>-->
          </div>
        </template>
        <div>
          <div class="col-12">
            <div class="row">
              <div class="col-6">
                <el-select
                  class="select-primary pagination-select mb-3"
                  v-model="pagination.perPage"
                  placeholder="Per page"
                >
                  <el-option
                    class="select-primary"
                    v-for="item in pagination.perPageOptions"
                    :key="item"
                    :label="item"
                    :value="item"
                  >
                  </el-option>
                </el-select>
              </div>

              <div class="col-6">
                <base-input>
                  <el-select
                    name="tournament"
                    v-model="selected_tournament"
                    prepend-icon="fas fa-user"
                    placeholder="Filter Tournaments"
                    clearable
                  >
                    <el-option
                      v-for="tournament in tournaments"
                      :key="tournament.id"
                      :value="tournament.id"
                      :label="tournament.name"
                    >
                    </el-option>
                  </el-select>
                </base-input>
                <base-in
              </div>
            </div>
          </div>
          <el-table
            class="table-responsive align-items-center table-flush mobile-mini"
            header-row-class-name="thead-light"
            :data="fights"
            @sort-change="sortChange"
          >
            <div slot="empty" v-if="loading">
              <img src="/img/loading.gif" style="height: 100px; width: 100px" />
            </div>

            <el-table-column label="Fight">
              <template v-slot="{ row }">
                <span>Fight #{{row.fight_number}}</span>
              </template>
            </el-table-column>

            <el-table-column label="Unclaimed" width="">
              <template v-slot="{ row }">
                <span class="text-purple">{{row.unclaimed_total}}</span>
              </template>
            </el-table-column>

            <el-table-column label="Income">
              <template v-slot="{ row }">
                <span class="text-purple">{{row.tong_total}}</span>
              </template>
            </el-table-column>

            <el-table-column align="center" style="padding: 0;">
              <div slot-scope="{ row }" class="table-actions">
                <el-tooltip content="View" placement="top">
                  <a
                    type="text"
                    @click="viewFight(row)"
                    class="table-action text-lg"
                    data-toggle="tooltip"
                    style="cursor: pointer"
                  >
                    <i class="fas fa-eye"></i>
                  </a>
                </el-tooltip>
              </div>
            </el-table-column>
          </el-table>
        </div>
        <div
          slot="footer"
          class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
        >
          <div class="">
            <p class="card-category">
              Showing {{ total ? from + 1 : 0 }} to {{ to }} of
              {{ total }} entries

              <span v-if="selectedRows.length">
                &nbsp; &nbsp; {{ selectedRows.length }} rows selected
              </span>
            </p>
          </div>
          <base-pagination
            class="pagination-no-border"
            v-model="pagination.currentPage"
            :per-page="pagination.perPage"
            :total="total"
          />
        </div>
      </card>

    </div>
  </div>
</template>
<script>
import { BasePagination } from "@/components/argon-core";
import {
  Table,
  TableColumn,
  DropdownMenu,
  DropdownItem,
  Dropdown,
  Tooltip,
  Select,
  Option,
  Button,
} from "element-ui";
import swal from "sweetalert2";
import "sweetalert2/dist/sweetalert2.css";
import { Modal, BaseAlert } from "@/components/argon-core";
import "flatpickr/dist/flatpickr.css";
import flatPicker from "vue-flatpickr-component";
import moment from 'moment';
import { cloneDeep } from "lodash";

export default {
  layout: "DashboardLayout",
  middleware: "mashador",

  components: {
    BasePagination,
    [Tooltip.name]: Tooltip,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    [Dropdown.name]: Dropdown,
    [DropdownItem.name]: DropdownItem,
    [DropdownMenu.name]: DropdownMenu,
    [Select.name]: Select,
    [Option.name]: Option,
    [Button.name]: Button,
    flatPicker
  },

  async fetch() {
    try {

      let params = {
        ... { sort: '-created_at' },
      }
      await this.$store.dispatch("tournaments/list", params)
      this.tournaments = cloneDeep(this.$store.getters["tournaments/dropdown"]);
      this.selected_tournament = (this.tournaments.length) ? this.tournaments[0].id : null
      // this.getList()
    } catch (error) {
      this.$notify({
        type: "danger",
        message: `Oops, something went wrong!`,
      });
    }
  },

  data() {
    return {
      query: null,
      selectedRows: [],
      sort: "-created_at",
      total: 0,
      pagination: {
        perPage: 50,
        currentPage: 1,
        perPageOptions: [5, 10, 25, 50],
      },

      fights: [],
      loading: true,
      start_date: moment().format('YYYY-MM-DD'),
      tournaments: [],
      selected_tournament: null
    };
  },
  computed: {
    from() {
      return this.pagination.perPage * (this.pagination.currentPage - 1);
    },

    to() {
      let highBound = this.from + this.pagination.perPage;
      if (this.total < highBound) {
        highBound = this.total;
      }
      return highBound;
    },
    unclaimed_total() {
      let total = 0
      this.fights.map(item => {
        total += +item.unclaimed_total
      })

      return total
    },
  },
  watch: {
    // query: {
    //   handler: "getListDebounced",
    //   immediate: true,
    // },
    selected_tournament() {
      if (this.selected_tournament)
        this.getList()
    },
    pagination: {
      handler: "getList",
      immediate: false,
      deep: true,
    },
  },

  methods: {
    getListDebounced: _.debounce(function () {
      this.getList();
    }, 300),

    async getList() {
      try {
        let params = {
          ...(this.sort ? { sort: this.sort } : {}),
          filter: {
            ...{ bettings_by_user: this.$auth.user.id },
            ...{ status: ['finish', 'cancelled'] },
            ...( (this.selected_tournament) ? { tournament_id: this.selected_tournament } : {} ),
          },
          page: {
            number: this.pagination.currentPage,
            size: this.pagination.perPage,
          },
          include: "tournament",
        };

        this.fights = []
        this.loading = true
        await this.$store.dispatch("fights/getFightsBettedByUser", params);
        this.fights = this.$store.getters["fights/list"];
        this.total = this.$store.getters["fights/listTotal"];
        this.loading = false;
      } catch (error) {
        this.$notify({
          type: "danger",
          message: "Oops, something went wrong!",
        });
      }
    },

    sortChange({ prop, order }) {
      if (order === "descending") {
        this.sort = `-${prop}`;
      } else {
        this.sort = `${prop}`;
      }
      this.getList();
    },

    viewFight(row) {
      this.$router.push({
        name: "station-betting-history-view-id",
        params: { id: row.id },
      });
    },
  },
};
</script>
