<template>
  <div class="container-fluid mt-5">
    <div>
      <card
        class="no-border-card"
        body-classes="px-0 pb-1"
        footer-classes="pb-2"
      >
        <template slot="header">
          <div class="row">
            <div class="col-6">
              <h3 class="mb-0">Credit History</h3>
            </div>
            <div class="col-6 text-right">
            </div>
          </div>
        </template>
        <div>
          <div
            class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
          >
            <div>
              <div class="row">
                <div class="col-md-12">
                  <el-select
                    class="select-primary pagination-select"
                    v-model="pagination.perPage"
                    placeholder="Per page"
                  >
                    <el-option
                      class="select-primary"
                      v-for="item in pagination.perPageOptions"
                      :key="item"
                      :label="item"
                      :value="item"
                    >
                    </el-option>
                  </el-select>
                </div>
              </div>
            </div>

            <div>
              <div class="row">
                <div class="col-md-4">
                  <base-input>
                    <el-select
                      name="user"
                      v-model="action_type_selected"
                      prepend-icon="fas fa-user"
                      placeholder="Select Type"
                      filterable
                    >
                      <el-option
                        v-for="action_type in action_types"
                        :key="action_type.id"
                        :value="action_type.id"
                        :label="action_type.name"
                      >
                      </el-option>
                    </el-select>
                  </base-input>
                </div>
                <div class="col-md-4">
                  <base-input>
                    <flat-picker
                      slot-scope="{ focus, blur }"
                      @on-open="focus"
                      @on-close="blur"
                      :config="{ allowInput: true }"
                      class="form-control datepicker"
                      v-model="start_date"
                    >
                    </flat-picker>
                  </base-input>
                </div>
                <div class="col-md-4">
                  <base-input>
                    <el-select
                      name="user"
                      v-model="user_selected"
                      prepend-icon="fas fa-user"
                      placeholder="Select User"
                      filterable
                    >
                      <el-option
                        v-for="user in users"
                        :key="user.id"
                        :value="user.id"
                        :label="user.name"
                      >
                      </el-option>
                    </el-select>
                  </base-input>
                </div>
              </div>
              
            </div>
          </div>
          <el-table
            class="table-responsive align-items-center table-flush"
            header-row-class-name="thead-light"
            :data="credit_histories"
            @sort-change="sortChange"
          >
            <div slot="empty" v-if="loading">
              <img src="/img/loading.gif" style="height: 100px; width: 100px" />
            </div>

            <el-table-column label="User" min-width="50px">
              <template v-slot="{ row }">
                <span>{{ row.user.name }}</span>
              </template>
            </el-table-column>

            <el-table-column label="Fight" min-width="50px">
              <template v-slot="{ row }">
                <span>{{ row.fight ? row.fight.tournament.title + ' - Fight #' + row.fight.fight_number : '' }}</span>
              </template>
            </el-table-column>

            <el-table-column label="Cashier" min-width="50px">
              <template v-slot="{ row }">
                <span>{{ row.cashier ? row.cashier.name : '' }}</span>
              </template>
            </el-table-column>

            <el-table-column
              label="Type"
              min-width="60px"
              prop="action_type"
            />

            <el-table-column label="Date" min-width="50px">
              <template v-slot="{ row }">
                <span>{{ readableDate(row.created_at) }}</span>
              </template>
            </el-table-column>

            <el-table-column
              label="Amount"
              min-width="60px"
              prop="amount"
            />

            <el-table-column label="Balance" min-width="50px">
              <template v-slot="{ row }">
                <strong class="text-primary">{{ row.balance }}</strong>
              </template>
            </el-table-column>

          </el-table>
        </div>
        <div
          slot="footer"
          class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
        >
          <div class="">
            <p class="card-category">
              Showing {{ total ? from + 1 : 0 }} to {{ to }} of
              {{ total }} entries

              <span v-if="selectedRows.length">
                &nbsp; &nbsp; {{ selectedRows.length }} rows selected
              </span>
            </p>
          </div>
          <base-pagination
            class="pagination-no-border"
            v-model="pagination.currentPage"
            :per-page="pagination.perPage"
            :total="total"
          />
        </div>
      </card>

    </div>
  </div>
</template>
<script>
import { BasePagination } from "@/components/argon-core";
import {
  Table,
  TableColumn,
  DropdownMenu,
  DropdownItem,
  Dropdown,
  Tooltip,
  Select,
  Option,
  Button,
} from "element-ui";
import swal from "sweetalert2";
import "sweetalert2/dist/sweetalert2.css";
import { Modal, BaseAlert } from "@/components/argon-core";
import "flatpickr/dist/flatpickr.css";
import flatPicker from "vue-flatpickr-component";
import moment from 'moment';
import { cloneDeep } from "lodash";

export default {
  layout: "DashboardLayout",
  middleware: "admin",

  components: {
    BasePagination,
    [Tooltip.name]: Tooltip,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    [Dropdown.name]: Dropdown,
    [DropdownItem.name]: DropdownItem,
    [DropdownMenu.name]: DropdownMenu,
    [Select.name]: Select,
    [Option.name]: Option,
    [Button.name]: Button,
    flatPicker
  },

  data() {
    return {
      query: null,
      selectedRows: [],
      sort: "created_at",
      total: 0,
      pagination: {
        perPage: 50,
        currentPage: 1,
        perPageOptions: [5, 10, 25, 50],
      },

      credit_histories: [],
      loading: true,
      start_date: moment().format('YYYY-MM-DD'),
      users: [],
      user_selected: null,
      start_date: moment().format('YYYY-MM-DD'),
      action_types: [
        {
          id: 'all',
          name: 'All'
        },
        {
          id: 'add-credit',
          name: 'Add Credit'
        },
        {
          id: 'cash-out',
          name: 'Cash Out'
        },
        {
          id: 'payout',
          name: 'Payout'
        },
        {
          id: 'place-bet',
          name: 'Place bet'
        }
      ],
      action_type_selected: 'all'
    };
  },
  computed: {
    from() {
      return this.pagination.perPage * (this.pagination.currentPage - 1);
    },

    to() {
      let highBound = this.from + this.pagination.perPage;
      if (this.total < highBound) {
        highBound = this.total;
      }
      return highBound;
    },
  },

  async fetch() {
    try {
      let params = {
        filter: {
          ...{ roles: 'member' }
        },
      };
      await this.$store.dispatch("users/list", params);
      this.users = await cloneDeep(this.$store.getters["users/list"])
      if (this.users.length) {
        this.user_selected = this.users[0].id
      }
    } catch (error) {
      this.$notify({
        type: "danger",
        message: `Oops, something went wrong!`,
      });
      this.setApiValidation(error.response.data.errors);
    }
  },

  watch: {
    query: {
      handler: "getListDebounced",
      immediate: true,
    },
    user_selected: {
      handler: "getListDebounced",
      immediate: true,
    },
    start_date: {
      handler: "getListDebounced",
      immediate: true,
    },
    pagination: {
      handler: "getList",
      immediate: false,
      deep: true,
    },
    action_type_selected: {
      handler: "getListDebounced",
    },
  },

  methods: {
    getListDebounced: _.debounce(function () {
      this.getList();
    }, 300),

    async getList() {
      try {
        let params = {
          filter: {
            ...{ created_at: this.start_date },
            ...(this.user_selected ? { user_id: this.user_selected } : {}),
            ...{ action_types: (this.action_type_selected == 'all') ? this.action_types : [this.action_type_selected]}
          },
          page: {
            number: this.pagination.currentPage,
            size: this.pagination.perPage,
          },
          include: "fight,user,cashier,fight.tournament",
        };

        this.credit_histories = []
        this.loading = true
        await this.$store.dispatch("credit-histories/list", params);
        this.credit_histories = this.$store.getters["credit-histories/list"];
        this.total = this.$store.getters["credit-histories/listTotal"];
        this.loading = false;
      } catch (error) {
        this.$notify({
          type: "danger",
          message: "Oops, something went wrong!",
        });
      }
    },

    sortChange({ prop, order }) {
      if (order === "descending") {
        this.sort = `-${prop}`;
      } else {
        this.sort = `${prop}`;
      }
      this.getList();
    },

    readableDate(date) {
      date = moment(date).format('LLLL')
      return date
    }
  },
};
</script>
